<h3 mat-dialog-title class="popHead">Ticket List - user Record</h3>
<mat-dialog-content class="mat-typography">
    <div class="cotain">
        <div class="emp_key">
            <p>S. No</p>
            <p>Ticket No.</p>
            <p>Raised By</p>
            <p>Category</p>
            <p>Subject</p>
            <p>Created Date</p>
            <p>Status</p>
           </div>
        <div class="emp_value">
            <p>{{itTicketingGetByData?.employee_id}}</p>
            <p>{{itTicketingGetByData?.itTicketing_number}}</p>
            <p>{{itTicketingGetByData?.ticket_raised_by}}</p>
            <p>{{itTicketingGetByData?.category}}</p>
            <p>{{itTicketingGetByData?.subject}}</p>
            <p>{{itTicketingGetByData?.createdAt | date : 'dd-MM-yy'}}</p>
            <p>{{itTicketingGetByData?.status}}</p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-raised-button color="primary">Close</button>
</mat-dialog-actions>

