<div class="section">
    <div class="row head">
      <p>Finance & Accounting</p>
    </div>
    <div class="row py-1" >
      <div class="col-xxl-8 col-lg-8 col-md-8 col-sm-8 col-12">
      <div class="employee_top">Dashboard
        <span class="employee_2"><i class="fa fa-angle-right" aria-hidden="true" style="color:#063178">
          </i>
         Account Recievable </span>
      </div>
    </div>
      <!-- <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="form-group">
          <mat-form-field appearance="outline" >


            <mat-select formControlName="expense_type">
                <mat-option  value="Cert">Cert</mat-option>
                <mat-option  value="Non-Cert">Non-Cert</mat-option>
              </mat-select>

          </mat-form-field>
        </div>
      </div> -->


    </div>

    <div class="row list_order">
      <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12 form_heads1 pt-2">
          <h3>Invoice List </h3>
      </div>
      <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12 form_heads2 pt-2" (click)="navigate()">
          <h3>Make Manual Invoice</h3>
      </div>
    </div>

    <div class="employ_sube py-2">
        <div class="example-header">
          <select (change)="onPageSizeChanged()" id="page-size">
            <option value="10" selected="">10</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
         </div>
         </div>
         <div fxflex="100%">
          <div class="row">
            <div class="tab_menu">
              <div class="tab-item">
                <button class="main-button " [routerLink]="['invoice-request-list']" routerLinkActive="active" color="primary" (click)="pending()">Pending</button>
                <button class="main-button " [routerLink]="['approved-invoice-list']" routerLinkActive="active" color="primary" (click)="approved()">Approved</button>
                <button class="main-button " [routerLink]="['reject-invoice-list']" routerLinkActive="active" color="primary"   (click)="reject()">Reject</button>

              </div>
            </div>
          </div>
        </div>
       <!-- <div class="add_btn">
          <button type="button" class="btn_add" routerLink="manual-invoice">Make Manual Invoice</button>
          <button type="button" class="btn_add" routerLink="manual-invoice">check Invoice</button>
       </div> -->
       <router-outlet></router-outlet>





     <!-- <div class="div"  *ngIf="pendingStatus">
      <div class="form_head">
        <h3>Invoice Reqeust</h3>
      </div>
      <div class="ag_grid">
        <ag-grid-angular class="ag-theme-alpine" id="myGrid" style=" width:100%; height:400px;" [rowData]="rowData"
          [columnDefs]="columnDefs" [pagination]=true [paginationPageSize]=10 [rowData]="rowData"
          (gridReady)="onGridReady($event)" (cellClicked)='onCellClicked($event)' [rowClass]="rowClass">
        </ag-grid-angular>
      </div>
     </div>


    <div class="div"  *ngIf="approvedStatus">
      <div class="form_head">
        <h3>Approved Invoice Reqeust</h3>
      </div>
      <div class="ag_grid">
        <ag-grid-angular class="ag-theme-alpine" id="myGrid" style=" width:100%; height:400px;" [rowData]="rowData"
          [columnDefs]="columnDefsApproved" [pagination]=true [paginationPageSize]=10 [rowData]="rowDataApproved"
          (gridReady)="onGridReady($event)" (cellClicked)='onCellClicked($event)' [rowClass]="rowClass">
        </ag-grid-angular>
      </div>
    </div>



    <div class="div" *ngIf="rejectStatus">
      <div class="form_head">
        <h3>Reject Invoice Reqeust</h3>
      </div>
      <div class="ag_grid" >
        <ag-grid-angular class="ag-theme-alpine" id="myGrid" style=" width:100%; height:400px;" [rowData]="rowData"
          [columnDefs]="columnDefsReject" [pagination]=true [paginationPageSize]=10 [rowData]="rowDataRejct"
          (gridReady)="onGridReady($event)" (cellClicked)='onCellClicked($event)' [rowClass]="rowClass">
        </ag-grid-angular>
      </div>
    </div> -->
    </div>
