<!-- <div class="section">
    <section class="tab-bar">
        <div fxflex="100%">
            <div class="row">
                <div class="tab_menu">
                    <div class="tab-item">
                        <button class="main-button" color="primary" [routerLink]="['make-advance-payment']"
                            routerLinkActive="active"> Advance Payment </button>
                        <button class="main-button" color="primary" [routerLink]="['advance-paid-list']"
                            routerLinkActive="active">Advance Paid
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> -->
<router-outlet></router-outlet>
