.cotain{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 15px;
    p{
        min-height: 30px;
        flex-wrap: nowrap;
        margin-bottom: 16px;
        word-break: break-all !important;
    } 
}
.emp_key{
    // width: 50%;
    height: auto;
    font-size: 16px;
    font-weight: bolder;


}
.emp_value{
    width: 54%;
    height: auto;
    // height: 100%;
    font-size: 16px;
    font-weight: 100;

    p{
        font-weight: 400;
    }
 
}
.dive .head_parg{
    font-weight: 600;
}
.dive .paragrap{
//     padding: 30px;
//  margin: 10px;
//  background-color: black;
//  outline: 8px solid black;
//  border: 1px solid black;
//  border-radius: 8px;
//  -webkit-border-radius: 8px;
//  -moz-border-radius: 8px;
//  -ms-border-radius: 8px;
//  -o-border-radius: 8px;
border: 2px solid;
    padding: 8px;
    overflow: wrap;
    overflow-wrap: anywhere;
    border-radius: 6px;
}
