<div *ngIf="vendorInvoiceId">
  <h3 mat-dialog-title class="popHead" style="padding-left: 5px">Vendor Invoice List</h3>
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->

  <mat-dialog-content class="mat-typography">
    <div class="cotain">
      <div class="emp_key">
        <p>S.No</p>
        <p>Vendor Number</p>
        <p>Account Number</p>
        <p>IFSC Number</p>
        <p>Bank Name</p>
        <p>Branch Name</p>
        <p>City Name</p>
        <p>State Name</p>
        <p>Country Name</p>
        <p>Email</p>
        <p>Contact Number</p>
        <p>Date</p>
        <p>Alternate Number</p>
        <!-- <p>Bank Name</p> -->

        <p></p>

      </div>
      <div class="emp_value">

        <p>{{vendorInvoiceData?.vendor_management_id|| "-" }}</p>
        <P>{{vendorInvoiceData?.vendor_name|| "-" }}</P>
        <P>{{vendorInvoiceData?.bank_account_number|| "-" }}</P>
        <P>{{vendorInvoiceData?.ifsc_number|| "-" }}</P>
        <P>{{vendorInvoiceData?.bank_name|| "-" }}</P>
        <P>{{vendorInvoiceData?.branch|| "-" }}</P>
        <P>{{vendorInvoiceData?.city_name|| "-" }}</P>
        <P>{{vendorInvoiceData?.state_name|| "-" }}</P>

        <P>{{vendorInvoiceData?.country_name|| "-" }}</P>
        <P>{{vendorInvoiceData?.email|| "-" }}</P>
        <P>{{vendorInvoiceData?.contact_number|| "-" }}</P>
        <P>{{vendorInvoiceData?.expiry_date|| "-" }}</P>
        <P>{{vendorInvoiceData?.alternative_number|| "-" }}</P>
        <!-- <P>{{vendorInvoiceData?.bank_name|| "-" }}</P> -->



      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-raised-button color="primary" style="float: right">
      Close
    </button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
  </mat-dialog-actions>
</div>


<div *ngIf="cpId">
  <h3 mat-dialog-title class="popHead" style="padding-left: 5px">CP List</h3>
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->

  <mat-dialog-content class="mat-typography">
    <div class="cotain">
      <div class="emp_key">
        <p>S.no</p>
        <p>Associated Comapany</p>
        <p>First Name</p>
        <p>Last Name</p>
        <p>Email ID</p>
        <p>CP Name</p>
        <p>CP Registration Approver</p>

        <p>Certificate Type</p>
        <p>CP Source</p>
        <p>Work Order</p>
        <p>GST Number</p>
        <p>Address</p>
        <p>Service Type</p>
        <p>Product/Program</p>
        <p>Assessment Fee</p>
        <p>Delivered Month</p>
        <p>Requested Incentive %</p>
        <p> Agreed Incentive %</p>
        <p>Special Incentive Amount</p>
        <p>Contact Source/ Assigned SP</p>
        <p>Invoice Submitted By CP</p>
        <p>Invoice Number</p>
        <p>Invoice Date</p>
        <p>Total Amount</p>
        <p>Total Invoice Amount</p>
        <p>Remarks</p>
        <p>Paid Date of Finance</p>
        <p>Provision Created By</p>
        <p>Provision Created Date</p>
        <p>Provision Verified By</p>
        <p>Provision Verified Date</p>

      </div>
      <div class="emp_value">

        <P>{{cpSingleData?.channel_partner_provision_id|| "-" }}</P>

        <p>{{cpSingleData?.associated_company||"-" }}</p>
        <p>{{cpSingleData?.first_name||"-" }}</p>
        <p>{{cpSingleData?.last_name||"-" }}</p>
        <p>{{cpSingleData?.email||"-" }}</p>
        <p>{{cpSingleData?.CP_Name||"-" }}</p>
        <p>{{cpSingleData?.Cp_registration_Approver_name||"-" }}</p>
        <p>{{cpSingleData?.certificate_type_name||"-" }}</p>
        <p>{{cpSingleData?.Cp_source_name||"-" }}</p>
        <p>{{cpSingleData?.workOrder_no||"-" }}</p>
        <p>{{cpSingleData?.gst_number||"-" }}</p>
        <p>{{cpSingleData?.address2||"-" }}</p>
        <p>{{"-" }}</p>
        <p>{{cpSingleData?.product_request||"-" }}</p>
        <p>{{cpSingleData?.Assessment_Fee||"-" }}</p>
        <p>{{cpSingleData?.delivery_month||"-" }}</p>
        <p>{{cpSingleData?.requsted_incentive||"-" }}</p>

        <p>{{cpSingleData?.Agreed_prec_incentive||"-" }}</p>
        <p>{{cpSingleData?.special_incentive_amount||"-" }}</p>
        <p> {{cpSingleData?.sp_name||"-" }}</p>
        <p>{{cpSingleData?.invoice_submitted_By_CP||"-" }}</p>
        <p>{{cpSingleData?.invoice_number||"-" }}</p>
        <p>{{cpSingleData?.invoice_date||"-" }}</p>
        <p>{{cpSingleData?.total_amount||"-" }}</p>
        <p>{{cpSingleData?.total_Invoice_amount||"-" }}</p>
        <p>{{cpSingleData?.remarks||"-" }}</p>
        <p>{{"-"}}</p>
        <p>{{cpSingleData?.createdAt||"-" }}</p>
        <p>{{cpSingleData?.provision_verified_by||"-" }}</p>
        <p>{{cpSingleData?.provision_verified_date||"-" }}</p>


      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-raised-button color="primary" style="float: right">
      Close
    </button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
  </mat-dialog-actions>
</div>

<!-- pdf download vendor invoice -->
<div *ngIf="vendorInvoicePdf">
  <h3 mat-dialog-title class="popHead">Download Vendor Invoice</h3>

  <mat-dialog-content class="mat-typography">


    <!-- <div style="display: flex;">
       <span class="image">
       <a href="https://chargeupadmin.elitetraveltech.in/inventory_bulkUpload (101).csv"><img src="assets\icons\top3.png" alt="Screenshot-67" download="sample-inventory-csv"></a>
       <span style="margin-left:12px;">Demo File Csv</span>
      </span>
        <span class="file-input">
          <input type="file" id="file" class="file" (change)="uploadCsv($event)">
          <label for="file">Choose file</label>
        </span>
        <span class="file-name" *ngIf="!show">No file chosen</span>
      </div> -->

    <div class="service">
      <div>
        <a href="{{vendorInvoiceDataPdf?.upload_document}}" matTooltip="Download File">
          <!-- <mat-icon class="demo-file">cloud_download</mat-icon> -->
          <img src="assets\icons\download-from-cloud.png" alt="Screenshot-67" download
            style="height: 65px; width: 65px;">

        </a>
      </div>
      <!-- <div class="file-input" style="padding-top: 23px;">
              <input type="file" id="file" class="file">
              <label for="file">Choose file</label>
            </div> -->
      <div class="file-name" style="padding-top: 30px;">
        <br>

      </div>

    </div>
    <!-- <span class="file-name"></span> -->

  </mat-dialog-content>
  <mat-dialog-actions align="end" class="closeContainer">
    <!-- <button mat-button mat-raised-button color="primary" [mat-dialog-close]="true" class="btn_upload"
        cdkFocusInitial>Upload</button> -->
    <button mat-button mat-raised-button color="warn" mat-dialog-close class="btn_skip">Cancel</button>
  </mat-dialog-actions>
</div>


<!-- expense invoice  -->

<div *ngIf="myExpenseId">
  <h3 mat-dialog-title class="popHead" style="padding-left: 5px">Expense Invoice Payable List</h3>
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->

  <mat-dialog-content class="mat-typography">
    <div class="cotain">
      <div class="emp_key">
        <p>S.No</p>
        <p>Employe Name</p>
        <p>Ticket No</p>
        <p>Date</p>
        <p>Final Amount</p>
        <p>Task Order No</p>

        <!-- <p>Bank Name</p> -->

        <p></p>

      </div>
      <div class="emp_value" *ngFor="let item of myExpenseData">

        <p>{{item?.myexpense_id|| "-" }}</p>
        <P>{{item?.employeName|| "-" }}</P>
        <P>{{item?.expense_report_no|| "-" }}</P>
        <P>{{item?.createdAt|| "-" }}</P>
        <P>{{item?.finalAmount|| "-" }}</P>
        <P>{{item?.task_order|| "-" }}</P>


        <!-- <P>{{vendorInvoiceData?.bank_name|| "-" }}</P> -->



      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-raised-button color="primary" style="float: right">
      Close
    </button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
  </mat-dialog-actions>
</div>