<h3 class="popHead">HR Management (Recruitment)</h3>
<!-- <mat-dialog-content class="mat-typography"> -->
<div class="mainContainer">
    <div class="cotain">
        <div class="emp_key">
            <!-- <p>Trainer Id  </p> -->
            <p>Candidate Name  </p>
            <p>Hiring Manager </p>
            <p>E-Mail ID </p>
            <p>Mobile No. </p>
        </div>
        <div class="emp_key">
            <p>:</p>
            <p>:</p>
            <p>:</p>
            <p>:</p>
        </div>

        <div class="emp_value">
            <!-- <p>{{data?.candidate_id}}</p> -->
            <p>{{data?.condidate_name}} </p>
            <p>{{data?.assigned_hiring_manager}} </p>
            <p> {{data?.email}}</p>
            <p> {{data?.mobile}}</p>
          

        </div>

    </div>
</div>
<div class="close_btn">
    <button (click)="closeDialog()" class="close">Close</button>
</div>
