<div class="heading_top">
  <div class="page-title">
    <h1>Dashboard</h1>

  </div>
  <div class="add_button">

  </div>
</div>


<div class="top_data">
  <div class="row">
    <div class="col-md-3">
      <div class="contain_panel">
        <div class="panel_text">
          <div class="panel_H">
            <h1>Total Lead Status</h1>
          </div>

          <div class="detail_percentage">
            <h2>10</h2>

            <figure><img src="../../../assets/dash-1.png"></figure>

          </div>

        </div>
        <div class="for_next next_blue">
          <p class="pull-left">For Next 7 Days</p>
          <p class="percent_text">10</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="contain_panel">
        <div class="panel_text">
          <div class="panel_H">
            <h1>Total Lead Summary</h1>
          </div>

          <div class="detail_percentage">
            <h2>10</h2>

            <figure><img src="../../../assets/dash-1.png"></figure>

          </div>

        </div>
        <div class="for_next next_blue">
          <p class="pull-left">For Next 7 Days</p>
          <p class="percent_text">10</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="contain_panel">
        <div class="panel_text">
          <div class="panel_H">
            <h1>All Proposal</h1>
          </div>

          <div class="detail_percentage">
            <h2>30</h2>

            <figure><img src="../../../assets/dash-2.png"></figure>
          </div>

        </div>
        <div class="for_next next_orange">
          <p class="pull-left">For Next 7 Days</p>
          <p class="percent_text">30</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="contain_panel">
        <div class="panel_text">
          <div class="panel_H">
            <h1>Total Closed Deals</h1>
          </div>

          <div class="detail_percentage">
            <h2>10</h2>

            <figure><img src="../../../assets/dash-3.png"></figure>
          </div>

        </div>
        <div class="for_next next_red">
          <p class="pull-left">For Next 7 Days</p>
          <p class="percent_text">10</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="contain_panel">
        <div class="panel_text">
          <div class="panel_H">
            <h1>Total Discount Request</h1>
          </div>

          <div class="detail_percentage">
            <h2>20</h2>

            <figure><img src="../../../assets/dash-4.png"></figure>
          </div>

        </div>
        <div class="for_next next_green">
          <p class="pull-left">For Next 7 Days</p>
          <p class="percent_text">10</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="contain_panel">
        <div class="panel_text">
          <div class="panel_H">
            <h1>Total Received Amount</h1>
          </div>

          <div class="detail_percentage">
            <h2>20</h2>

            <figure><img src="../../../assets/dash-4.png"></figure>
          </div>

        </div>
        <div class="for_next next_green">
          <p class="pull-left">For Next 7 Days</p>
          <p class="percent_text">10</p>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- Chart start -->
<!-- <div class="graph_data">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header heading">
          <h5 class="margin_0"> Sales And Profit History</h5>
        </div>
        <div class="card-body">
          <canvas #barChart></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header heading">
          <h5 class="margin_0"> Monthly Growth Rate</h5>
        </div>
        <div class="card-body">
          <canvas #pieChart></canvas>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Chart end -->