<div class="addmodelCRM">
  <h3 mat-dialog-title class="popHead">Add Lead Form Setup</h3>
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->

  <mat-dialog-content class="mat-typography">
    <div class="cotain">
      <form class="form_set" [formGroup]="leadFormSetupObj" (ngSubmit)="saveDetails(leadFormSetupObj)">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" *ngIf="fieldTypeList">
              <mat-label>Field Type</mat-label>
              <mat-select formControlName="field_type_id" (closed)="onPanelClose()" disableOptionCentering
                class="cdk-overlay-pane deepdrop">
                <mat-form-field>
                  <input matInput [formControl]="filterControl" type="text" name="filter-options" id="filter-options"
                    placeholder="Search" [(ngModel)]="nameSearch">
                </mat-form-field>
                {{nameSearch}}

                <mat-option *ngFor="let data of fieldTypeList" [value]="data?.id">
                  {{data?.field_type}}
                </mat-option>
                <mat-option class="noDataFound" *ngIf="!fieldTypeList?.length">
                  <p class="noDataFound">Field Type Not Found</p>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Field Name</mat-label>
                <input matInput type="text" formControlName="field_name" required />

                <mat-error *ngIf="
                    leadFormSetupObj.controls['field_name'].hasError(
                        'maxlength'
                      )
                    ">
                  Field Name should be limit 150.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <button mat-raised-button color="primary" style="float: left; margin-top: 9px;" [class.spinner]="loading"
              [disabled]="loading">
              {{candidate_id?'Update':'Submit'}}
            </button>
            <mat-dialog-actions>
              <button mat-button mat-dialog-close mat-raised-button color="warn">Close</button>
              <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
            </mat-dialog-actions>
          </div>
        </div>
      </form>

    </div>

  </mat-dialog-content>
</div>