
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contract Invoice</title>

    <style>
        img {
            width: 100%;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .product_img{
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <img src="https://picsum.photos/200/300" alt="Invoice">
    <img src="https://imgur.com/a/AeufFN0" alt="Invoice">
    <img src="D:/UDS_Backend/uds_backend/app/CRM/CRMDocument/upload" alt="Invoice">
    <img src="../../CRMDocument/upload/download.jpg" alt="Invoice">
    <img src="C:/Users/Mindz/Downloads/invoice-template/invoice/img1.jpg" alt="Invoice">
    <img src="C:/Users/Mindz/Downloads/invoice-template/invoice/img2.jpg" alt="Invoice">
    <img src="C:/Users/Mindz/Downloads/invoice-template/invoice/img3.jpg" alt="Invoice">
    <img src="C:/Users/Mindz/Downloads/invoice-template/invoice/img4.jpg" alt="Invoice">
    <img src="C:/Users/Mindz/Downloads/invoice-template/invoice/img5.jpg" alt="Invoice">
    <table style="width:100%; margin-top: 100px;">
        <tr>
            <th>S.NO</th>
            <th>PRODUCT DESCRIPTION</th>
            <th>PRODUCT IMAGE</th>
            <th>QTY</th>
            <th>UOM</th>
            <th>UNIT RATE</th>
            <th>TOTAL AMT</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Sanitary Pad Vending Machine UPI+ Coin Based {name}</td>
            <td><img src="C:/Users/Mindz/Downloads/invoice-template/invoice/product.png" alt="Product" class="product_img"></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>2</td>
            <td>FEMININE HYGIENE CARE BINS(FREQUENCY- MONTHLY)</td>
            <td><img src="C:/Users/Mindz/Downloads/invoice-template/invoice/product.png" alt="Product" class="product_img"></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>3</td>
            <td>V- Air Solid Refill</td>
            <td><img src="C:/Users/Mindz/Downloads/invoice-template/invoice/product.png" alt="Product" class="product_img"></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>4</td>
            <td>MA Refill</td>
            <td><img src="C:/Users/Mindz/Downloads/invoice-template/invoice/product.png" alt="Product" class="product_img"></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>5</td>
            <td>URINAL V-SCREEN (BUYOUT)</td>
            <td><img src="C:/Users/Mindz/Downloads/invoice-template/invoice/product.png" alt="Product" class="product_img"></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </table>
    <img src="C:/Users/Mindz/Downloads/invoice-template/invoice/img7.jpg" alt="Invoice">
    <img src="C:/Users/Mindz/Downloads/invoice-template/invoice/img8.jpg" alt="Invoice">
</body>

</html>