<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <title>Welcome Proposal</title>
</head>

<body>
  <div style="background: #f8fdff">
    <div style="
          background-color: #002c54;
          width: 100%;
          height: 50px;
          display: inline-block;
        ">
      &nbsp;
    </div>
    <div style="width: 70%; margin: auto; background: white">
      <div style="text-align: center; background-color: #f8fdff; padding: 28px 0">
        <img src="https://edtech-dev.s3.ap-south-1.amazonaws.com/Website/2023-05-29T05%3A30%3A03.344Z-EdTechLogo.png"
          alt="Logo" class="CToWUd" data-bit="iit" />
      </div>
  
      <div style="padding: 35px 70px">
        <h4 style="
        color: #002c54;
        font-size: 25px;
        text-align: center;
        font-family: 'Poppins-SemiBold', Arial, sans-serif;
      ">
      Welcome to UDS {name}
  </h4>
        <p style="
              color: #000000cc;
              font-size: 18px;
              margin: 40px 0 20px 0;
              font-family: 'Poppins-Regular', Arial, sans-serif;
            ">
        </p>

        <p style="
              color: #000000cc;
              font-size: 18px;
              margin: 40px 0 20px 0;
              font-family: 'Poppins-Regular', Arial, sans-serif;
            ">
          On behalf of ERP we extend a warm welcome to you as a registered
          partner of our ERP Provider program. We are thrilled to have you
          onboard and look forward to a successful collaboration.
        </p>
        <p style="
              color: #000000cc;
              font-size: 18px;
              margin: 20px 0 20px 0;
              font-family: 'Poppins-Regular', Arial, sans-serif;
            ">
          This email serves as confirmation of your registration and provides
          important details to help you get started. Please take a moment to
          review the following information:
        </p>
        <ul>
          <li style="
                color: #000000cc;
                font-size: 18px;
                margin: 20px 0 0 0;
                font-family: 'Poppins-Regular', Arial, sans-serif;
              ">
            Upload the latest Brochure / flyer on the portal.
          </li>
          <li style="
                color: #000000cc;
                font-size: 18px;
                margin: 10px 0 0 0;
                font-family: 'Poppins-Regular', Arial, sans-serif;
              ">
            Add an update.
          </li>
          <li style="
                color: #000000cc;
                font-size: 18px;
                margin: 10px 0 20px 0;
                font-family: 'Poppins-Regular', Arial, sans-serif;
              ">
            Confirm the important emails and check your company URL.
          </li>
        </ul>
        <p style="
              color: #000000cc;
              font-size: 18px;
              margin: 10px 0 20px 0;
              font-family: 'Poppins-Regular', Arial, sans-serif;
            ">
          We ensure that partnering with us Increase your reach and attract
          more top-tier students by using a user-friendly platform trusted by
          multiple universities across the world. Our platform facilitates
          worldwide growth. Our platform makes global expansion easy. It
          boosts publicity and student recruitment.
        </p>
        <p style="
              color: #000000cc;
              font-size: 18px;
              margin: 20px 0 20px 0;
              font-family: 'Poppins-Regular', Arial, sans-serif;
            ">
          Thank you for choosing ERP as your trusted partner. We look
          forward to a successful collaboration and assisting you in achieving
          your goals.
        </p>

        <p style="
              color: #000000cc;
              font-size: 18px;
              margin: 30px 0 20px 0;
              font-family: 'Poppins-Regular', Arial, sans-serif;
            ">
          If you have any questions or require further assistance, please
          don't hesitate to reach out to our dedicated support team.
        </p>
        <p style="
              color: #000000cc;
              font-size: 18px;
              margin: 40px 0 0 0;
              font-family: 'Poppins-Regular', Arial, sans-serif;
            ">
          Regards,
        </p>

        <p style="
              color: #000000cc;
              font-size: 18px;
              margin: 0 0 20px 0;
              font-family: 'Poppins-Regular', Arial, sans-serif;
            ">
          Admin
        </p>
      </div>
      <div style="background: #002c54; height: 5px; margin-top: 15px">
        &nbsp;
      </div>
      <div style="background: #002c54; height: 1.5px; margin-top: 3px">
        &nbsp;
      </div>

      <div style="
            width: 100%;
            height: 80px;
            background: #859fb72e;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
          ">
        <p style="
              width: 90%;
              text-align: center;
              color: #002c54;
              font-size: 16px;
              font-family: 'Poppins-MediumItalic', Arial, sans-serif;
            ">
          This is an auto generated email. Please do not reply to this Email.
        </p>
      </div>
    </div>
  </div>
</body>

</html>