<div class="heading_top">
  <div class="page-title">
    <h1>CRM</h1>
    <p>Field Value <i class="fa fa-angle-right" aria-hidden="true" style="color:#063178">
      </i><span> Field Value List </span></p>
  </div>
  <div class="add_button">
    <button class="backBtn" (click)="goBack()"><i class="fa fa-arrow-circle-left"></i> Back</button>
  </div>
</div>

<div class="right_data_all">
  <!-- Dynamic form start -->
  <section class="mt-4">
    <div class="conatiner">
      <form [formGroup]="leadValueForm">
        <fieldset>
          <div class="personalDetails">
            <mat-card>
              <div class="form_basic">
                <div class="table px-3" style="width: 100%;">
                  <thead>
                    <tr class="row">
                      <th maxlength="20" class="col-xxl-5 col-lg-5 col-md-5 col-sm-5 col-12">
                        S No.
                      </th>
                      <th class="col-xxl-5 col-lg-5 col-md-5 col-sm-5 col-12">
                        Field Value
                      </th>
                      <th class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container formArrayName="leadValueList"
                      *ngFor="let control of CF_1.leadValueList['controls']; index as i">
                      <tr class="row" [formGroup]="control">
                        <td class="col-xxl-5 col-lg-5 col-md-5 col-sm-5 col-12">{{i+1}}</td>
                        <td class="col-xxl-5 col-lg-5 col-md-5 col-sm-5 col-12">
                          <input type="text" maxlength="30" formControlName="field_value" class="form-control"
                            [readOnly]="control?.controls['isDisabled']" />
                          <!-- <span *ngIf="control.controls['field_value'].hasError('pattern')" style="color:red;">*Symbols
                            Numerics Not Allowed</span>
                          <span *ngIf="control.controls['field_value'].hasError('leadingSpaces')"
                            style="color:red;">*LeadingSpaces Not Allowed</span> -->
                        </td>

                        <td *ngIf="icon == true" class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                          <span *ngIf="!control?.controls?.isDisabled"
                            style="color: #063178; cursor: pointer;font-size: 20px;">
                            <i *ngIf="i>0" class="fa fa-trash" (click)="deleteRow(i, control)"
                              aria-hidden="true"></i></span>
                          <span style="color: #063178; cursor: pointer;font-size: 24px;">
                            <i class="fa fa-plus-circle" (click)="addrow()" aria-hidden="true"
                              style="margin-top:5px; margin-left: 10px!important;"></i></span>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </div>
              </div>
            </mat-card>
          </div>
        </fieldset>
        <div class="mt-3 text-center d-flex justify-content-between">
          <div class="mx-auto">
            <span>
              <button (click)="onSubmit()" mat-raised-button color="primary" class="mx-3">
                Save
              </button>
            </span>
            <button mat-raised-button color="warn" (click)="goBack()">
              Cancel
            </button>
          </div>

        </div>
      </form>
    </div>
  </section>
  <!-- Dynamic form end -->
</div>