<mat-card class="m-card">
    <div class="section">
        <div class="row head">
            <!-- <p>HRMS</p> -->
        </div>

        <div class="employ_sube">
            <!-- <div class="employee_top">
                <p>Post Audit Module</p>
                
            </div> -->
            <div class="msater-nav">
              <a>Audit<mat-icon>keyboard_arrow_right</mat-icon></a>
              <a routerLink="/master/audit/post-audit">Post-Audit<mat-icon>keyboard_arrow_right</mat-icon></a>
              <a routerLink="/master/audit/post-audit/completeness-check/completness-create">Completness Check</a>
          </div>
        </div>
        
        <div class="mt-3">
            <form [formGroup]="auditForm">
                <div class="">
                    <div class="row under_date">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-12">
                            <mat-form-field appearance="outline">
                              <mat-label>From date</mat-label>
                              <input matInput [matDatepicker]="picker" (dateChange)="StartdateSelect($event)" [formControl]="startDate">
                              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                  
                          <div class="col-sm-4 col-md-4 col-lg-4 col-12">
                            <mat-form-field appearance="outline">
                              <mat-label>To date</mat-label>
                              <input matInput [matDatepicker]="picker_to" (dateChange)="EnddateSelect($event)" [min]="startDate.value">
                              <mat-datepicker-toggle matIconSuffix [for]="picker_to"></mat-datepicker-toggle>
                              <mat-datepicker #picker_to></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-4 col-12">
                            <div class="apply-btn">
                              <a (click)="searchticket()">Search</a>
                            </div>
                          </div>
                    </div>
                    
                </div>
            </form>
        </div>
        <!-- <div class="">
            <button type="submit" class="btn btn-info" routerLink="post-audit-verification">add</button>
        </div> -->

        <div class="employ_sube py-2">
            <div class="">
              <div class="example-header">
                <select (change)="onPageSizeChanged()" id="page-size">
                  <option value="10" selected="">10</option>
                  <option value="100">100</option>
                  <option value="500">500</option>
                  <option value="1000">1000</option>
                </select>
                <!-- <span class="pag_size">Per Page</span> -->
              </div>
            </div>
            <div class="updatetitle">Completness Check</div>
            <div class="">
              <div class="employee_2" align="end">
        
                <input type="text" class="form-control" id="filter-text-box" placeholder="Search"
                  (input)="onFilterTextBoxChanged()">
        
              </div>
            </div>
          </div>

        <mat-card>
            <div class="row form_head">
                <h3>Completness Check List</h3>
            </div>
            <div class="ag_grid">
                <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 400px" [rowData]="rowData"
                    [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="10" (cellClicked)='onCellClicked($event)'
                    (gridReady)="onGridReady($event)">
                </ag-grid-angular>
            </div>
        </mat-card>
    </div>
</mat-card>