<div class="loginpage">
  <div class="loginbody">
    <div class="container-fluid">
      <div class="row">
        <div class="0col-xxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="usersendLinkForm">
            <form [formGroup]="sendLinkForm" (submit)="sendLinkFormSubmit()" *ngIf="!userId">
              <div class="form-main">
                <h1>Forgot Password</h1>
                <div class="form-group">
                  <div class="iconAdd">
                    <span class="userbtn" matPrefix><mat-icon>person</mat-icon></span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email or phone"
                    formControlName="employee_official_email" autocomplete="off">
                  <mat-error style="margin-left: 5px;"
                    *ngIf="isSubmited && !login['employee_official_email'].valid || login['employee_official_email'].errors || login['employee_official_email'].touched">
                    <span *ngIf="login['employee_official_email'].hasError('email')">Enter valid
                      email</span>
                  </mat-error>
                </div>
                <div class="loginIn">
                  <button mat-raised-button type="submit" class="submitBtn" [disabled]="showLoader"
                    (click)="sendLinkFormSubmit()"><mat-spinner *ngIf="showLoader"
                      style="width: 22px; height:22px;"></mat-spinner> <span *ngIf="!showLoader">Send
                      Link</span></button>
                </div>
              </div>
            </form>

            <form [formGroup]="forgotPwdForm" (submit)="forgotPassword()" *ngIf="userId">
              <div class="form-main">
                <h1>Forgot Password</h1>
                <div class="form-group">
                  <div class="password_form">
                    <div class="iconAdd">
                      <span class="passBtn" matPrefix><mat-icon>lock</mat-icon></span>
                    </div>
                    <input appShowHidePassword type="password" class="form-control" placeholder="Enter password"
                      formControlName="password" maxlength="16" autocomplete="off">
                  </div>
                  <mat-error style="margin-left: 5px;"
                    *ngIf="isSubmited && !forgotPwd['password'].valid || forgotPwd['password'].errors || forgotPwd['password'].touched">
                    <span *ngIf="forgotPwd['password'].hasError('minlength')">Password contain minimum 4
                      length</span>
                    <span *ngIf="forgotPwd['password'].hasError('maxlength')">Password contain maximum
                      16 length</span>
                  </mat-error>
                </div>
                <div class="form-group">
                  <div class="password_form">
                    <div class="iconAdd">
                      <span class="passBtn" matPrefix><mat-icon>lock</mat-icon></span>
                    </div>
                    <input appShowHidePassword type="password" class="form-control" placeholder="Enter confirm password"
                      formControlName="confirmPwd" maxlength="16" autocomplete="off">
                  </div>
                  <mat-error style="margin-left: 5px;"
                    *ngIf="isSubmited && !forgotPwd['confirmPwd'].valid || forgotPwd['confirmPwd'].errors || forgotPwd['confirmPwd'].touched">
                    <span *ngIf="forgotPwd['confirmPwd'].hasError('minlength')">Confirm password contain minimum 4
                      length</span>
                    <span *ngIf="forgotPwd['confirmPwd'].hasError('maxlength')">Confirm password contain maximum
                      16 length</span>
                  </mat-error>
                </div>
                <div class="loginIn">
                  <button mat-raised-button type="submit" class="submitBtn" [disabled]="showLoader"
                    (click)="forgotPassword()"><mat-spinner *ngIf="showLoader"
                      style="width: 22px; height:22px;"></mat-spinner> <span *ngIf="!showLoader">Submit</span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>