<div class="">
  <button class="cancel-btn " routerLink="../">Back</button>

  <button class="iploadBtn " (click)="invoiceCreateCopy()">Export</button>
</div>


<mat-card pt-5>
  <div class="">
    <div class="container" id="dashboardCopy" #dashboardCopy style="padding: 20px 35px;">
      <div class="row">
        <div class="invoice-title">
          <h2></h2>
          <h3 class="pull-right">
            <img align="right" src="../../../../../../assets/icons/DQS_logo.png" alt="" width="15%">
          </h3>
        </div>
      </div>

      <div class="row pt-5">
        <p align="left" style="color: rgb(8, 8, 156);">DQS India | South Wing Vaishnavi Tech Park Sarjapur Main Road
          Bengaluru – 560102</p>
      </div>


      <div class="row">
        <div class="zoho_return">
          <span> <b>IRN:</b></span> <Span> {{invoiceData?.IRN || '-' }} </Span><br><br>
          <p><b>Ack No</b> <span>:{{invoiceData?.ack_no || '-'}}</span> </p>
          <p><b>Ack Date </b>: {{invoiceData?.ack_date || '-'}}</p>
        </div>

      </div>

      <br>
      <br>
      <div class="row">
        <p> <b>To,</b></p>
        <div class="col-md-6">
          <div class="com_name">
            <!-- company name -->
            <p><b>{{singleLeadData?.associated_company}}</b></p>
            <p>Plot No. – 114
              <span>Phase -5</span>
            </p>

            <p>Sector – 53,
              <span> HSIIDC, Kundli</span>
            </p>

            <p>{{singleLeadData?.city_name}}, {{singleLeadData?.state_name}}</p>
            <p>{{singleLeadData?.country_name}}, PIN - {{singleLeadData?.postal_code}}</p>
            <p>Place of Supply - {{singleLeadData?.state_name}}, Code - 06</p>
            <p>GSTIN: 06AAFCJ0259A1Z3</p>
            <p>Kind Attn: <span><b>Mr. {{singleLeadData?.first_name}} {{singleLeadData?.last_name}}</b></span></p>
            <p>Director</p>
            <p>Mobile: +91-{{singleLeadData?.mobile_number}}</p>
            <p>Email: {{singleLeadData?.email}}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tax_invoice">
            <p style="text-align: center; font-weight: 500; font-size: 18px;">TAX INVOICE</p>
            <table id="customers">
              <tr>
                <td class="head_task">Invoice No</td>
                <td>INV{{invoiceData?.invoiceId}}IND</td>
              </tr>
              <tr>
                <td class="head_task">Date:</td>
                <td>{{invoiceData?.createdAt | date:"MM/dd/yy"}}</td>
              </tr>
              <tr>
                <td class="head_task">Work Order No:</td>
                <td>WO-{{singleLeadData?.workOrder_no}}</td>
              </tr>
              <tr>
                <td class="head_task">Business Relationship No:</td>
                <td>{{singleLeadData?.br_number}}</td>
              </tr>
              <tr>
                <td class="head_task">Customer Order Ref:</td>
                <td>{{singleLeadData?.customer_category}}</td>
              </tr>
              <tr>
                <td class="head_task">Payment Terms: </td>
                <td>{{invoiceData?.payment_terms || 0}} Days </td>
              </tr>
              <tr>
                <td class="head_task">GSTIN:</td>
                <td>29AAACU9924E1Z3</td>
              </tr>
              <tr>
                <td class="head_task">Category:</td>
                <td>{{singleLeadData?.customer_category}}</td>
              </tr>
              <tr>
                <td class="head_task">Service Acounting Code:</td>
                <td>998346 - Technical testing
                  and analysis services</td>
              </tr>
              <!-- <p style="text-align: center;">Please mention invoice ref., deduction and
    TAN details along with payments</p> -->
            </table>
            <p style="text-align: center; padding: 10px 0;">Please mention invoice ref., deduction and<br>
              TAN details along with payments</p>
          </div>
        </div>
      </div>

      <div class="row">
        <p> Standard: SMETA 6.1 – 2 Pillar | Stage: {{singleLeadData?.stage}} | Audit Duration
          {{singleLeadData?.training_start_date}} to {{singleLeadData?.training_end_date}} </p>
      </div>

      <!-- <div class="row">
          <div class="col-md-3">
            <p>Description</p>
            <p>System Assessment / Stage 2</p>
            <p>Audit Fee</p>
          </div>
          <div class="col-md-3 text_end">
            <p>Quantity</p>
            <p>2.5</p>
          </div>
          <div class="col-md-3 text_end">
            <p>Unit</p>
            <p>Mandays</p>
          </div>
          <div class="col-md-3 text_end">
            <p>Amount</p>
            <p>75,000.00 INR</p>
          </div> -->
      <!-- </div> -->

      <div class="row">
        <table class="table table-bordered" id="itemTable">
          <thead style="text-align: center;">
            <tr>
              <th>Sr. No.</th>
              <th>Item Description</th>
              <th>Quantity</th>
              <th>Unit</th>
              <th>Unit Price</th>
              <th>Net Amount</th>
              <!-- <th style="cursor: pointer;">Select Line Items</th> -->
            </tr>
          </thead>
          <tbody class="invoice_line">
            <tr *ngFor="let data of dataBrSame;index as i">
              <td>{{i+1}}</td>
              <td>{{data?.item_description}}</td>
              <td>{{data?.quantity}}</td>
              <td>{{data?.unit}}</td>
              <td>{{data?.unitPrice}}</td>
              <td>{{data?.netAmount}}</td>

              <!-- <td><input type="checkbox" [checked]="data.lineItem_status" class="itemCheckbox" (change)="line_itms_change($event,data)"></td> -->
            </tr>


          </tbody>

        </table>
      </div>








      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3 text_end">
          <p>Taxable Amount</p>
          <p>CGST @ 0</p>
          <p>SGST @ 0%</p>
          <p>IGST @18%</p>
          <p>Round Off (-)</p>

        </div>
        <div class="col-md-3 text_end">
          <p>{{totalNetAmount}} INR</p>
          <p>0.00 IN</p>
          <p>0.00 IN</p>
          <p>{{igstAmount}} INR</p>
          <p>0.00 IN</p>

        </div>
      </div>

      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 text_end">
          <p><b>Invoice Amount Payable By 25-May-2023 (Due Date)</b></p>
          <p><b>Amount Payable After Due Date 25-May-2023*</b></p>
          <p><b>* Late fee charges inclusive of 18% GS</b></p>
        </div>
        <div class="col-md-3 text_end">
          <p>{{totlepayableAmount}} INR</p>
          <p>{{amountPaybaleCharge}} INR</p>
        </div>
      </div>

      <div class="row">
        <p><b>Indian Rupees( Eighty Eight Thousand Five Hundred Only.)</b></p>
        <p><b>DQS India shall receive TDS certificate deducted for this invoice by July 2023 end failing which TDS
            amount
            shall be payable by you by 15th
            August 2023</b></p>
      </div>

      <div class="row">
        <p>1. As stipulated in Section 31 of the CGST Act, 2017, this invoice is authenticated with Digital Signature
          Certificate (DSC) by DQS India authorised
          signatory and is valid for availing input tax credit and releasing payment to us. In case you require a
          printout
          of invoice, you can print this invoice at your
          end. However, if you would like DQS India to send you hard copy of this invoice in the given form, please send
          your specific request to email id
          <b>Requestprint.India@dqs.de</b> by providing invoice and your address details. DQS India will courier hard
          copy
          of invoice to you within 3 working days at
          an extra cost of INR 1000 + GST @ 18%.
        </p>

        <p><b>2. Our Bank Details: </b></p>

        <p>HDFC Bank Limited, Airport Road Branch, Golden Enclave, Bengaluru - 560 017 Account Name: Deutsch Quality
          Systems (India) Private Limited
          Account Number: 00758630000138 SWIFT Number: HDFCINBB IFSC Code: HDFC0000075</p>

        <p>3. email us payment advice to <b>Paymentadvise.India@dqs.de</b></p>

        <p>4. Tax Deduction at Source (TDS) u/s 194J is applicability is as follows.
        <p><b>Assessment/Audit and Certification Services : 2% (as technical services) </b></p>
        <p><b> Training and DQS-Nxt Services : 10% </b></p>

      </div>



      <div class="row pt-5">
        <p>5. email us TDS Certificate / Withholding Tax Certificate to <b>tdscert.india@dqs.de</b> In case of failure
          to
          provide the certificate/s the amount would be
          treated as dues and stand recoverable as mentioned above.
        </p>
        <p>6. Acknowledgment for LUT: Application Reference Number (ARN) - AD290423000651H</p>
      </div>

      <div class="row pt-3">
        <div class="col-3 mt-2">
          <p>For Deutsch Quality Systems (India) Private Limited,
          </p>
        </div>
        <div class="col-4 mt-2">
          <div class="design_box">
            <p>Micro,Medium And Small Interprises</p>
            <p>Devlopment Act,2006</p>
            <p>Udyog Aadhaar Regn. No. KR03E0036364</p>
          </div>

        </div>
        <div class="col-5">
          <table class="table table-bordered">
            <thead>
              <tr class="size_table">
                <th>Finacial Year(FY)/(Assessment Year(AY))</th>
                <th>ITR Acknowledgment No</th>
                <th>Date Of Filling ITR</th>
              </tr>
            </thead>
            <tbody>
              <tr class="size_table">
                <td>2019-20/(2020-21)</td>
                <td>862060154564895</td>
                <td>21-12-2020</td>
              </tr>
              <tr class="size_table">
                <td>2020-21/(2021-22)</td>
                <td>1245684756471789</td>
                <td>02-02-2022</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <p>Prasad Khanapur<br>
          Head-Finance & Accounts</p>
      </div>

      <div class="row">
        <p class="link_dqs">Online Payment Facility<br>
          <a href="#"> www.DQS-india.in/payment/</a>
        </p>
      </div>


      <div class="row pt-4">
        <p class="info_dqs"><u>Information To Customer On Changes To Invoicing and Collection Process Due To Corporate
            Governance
            Expectations</u> </p>
      </div>


      <div class="row">
        <p>
          1. Digitally or electronically signed invoices are permitted under Rule 46 of the CGST Rules, 2017 &
          Notification No.
          74/2018 – Central Tax Dated 31 December, 2018.</p>
        <p>2. The payment against invoice issued to your organisation shall be payable within due date mentioned on the
          face of
          invoice. Any delay in releasing payment to DQS India shall attract late fee charges, payable along with
          payment
          of
          respective invoice.</p>
        <p>
          3. If you need a printout of invoice, we shall arrange to courier the same at an additional cost of INR 1000 +
          GST @ 18%.

        </p>
        <p>
          4.To enable us to manage your account without difficulty, it is mandatory for you to issue <b>PAYMENT
            ADVISE</b>
          for each of
          the payment made to DQS India.
        </p>
        <p>
          5. Tax Deduction at Source (TDS) certificates for the amount deducted against DQS India shall be emailed to
          tdscert@dqs-india.in within the period indicated on the face of respective invoice. Any failure to issue TDS
          certificates for
          the amount shall be treated as dues payable immediately to DQS India.
        </p>

        <p>6. In case of default in making payment by you for the invoice and/or issue of TDS certificates which are
          overdue, as per
          DQS India credit policy, your account will attract applicability of following dunning process:</p>

      </div>

      <div class="row pt-4">
        <p style="font-weight: 500; font-size: 16px;">Dunning Process</p>
      </div>

      <div class="row">
        <table class="table-bordered table">
          <tbody class="font_design" *ngFor="let item of invoiceData?.duning_details">
            <tr>
              <td>For example</td>
              <td>All Dates</td>
              <td>1st Dunning Letter</td>
              <td>2st Dunning Letter</td>
              <td>Final Dunning Letter</td>
            </tr>
            <tr>
              <td>Invoice date</td>
              <td>{{invoiceData?.createdAt | date:"MM/dd/yy"}}</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>Payment date</td>
              <td>{{invoiceData?.createdAt | date:"MM/dd/yy"}}</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>Dunning Letter Issue Date </td>
              <td></td>
              <td>{{item?.duning_date}}</td>
              <td>11-Dec-18 </td>
              <td>21-Dec-18
              </td>
            </tr>

            <tr>
              <td>Implication of Dunning Letter</td>
              <td></td>
              <td>- Down grading of
                credit rating and
                putting all furture
                delivers against
                100% advance,<br>
                - Demand
                payment release
                within 7 days of
                issue of dunning
                letter.</td>
              <td>- Customer shall
                pay INR 20,000
                as charges for the
                default in not
                releasing payment
                and/or issuing
                TDS certificates.<br>
                - Initiating
                suspension of
                certificates, if any.</td>
              <td>- To withdraw
                certificate<br>
                - To refer matter to
                legal counsel for
                initiating legal
                proceedings for
                recovery.

              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row pt-5">
        <div class="col-3 foot_style">
          <span><b>DQS India</b></span>
          <p>Deutsch Quality Systems (India) Private Limited</p>
          <p>Managing Director & CEO</p>
          <p>Dr. Murugan Kandasamy</p>
        </div>
        <div class="col-3 foot_style">
          <p>Ground Floor, South Wing</p>
          <p>Vaishnavi Tech Park</p>
          <p>Sy.No.16/1 and 17/2, Bellandur Gate</p>
          <p>Sarjapur Main Road, Ambalipura</p>
          <p>Bengaluru – 560102 Karnataka</p>
          <p>India</p>
        </div>
        <div class="col-2 foot_style">
          <p>Phone +91 80 6661 6500</p>
          <p>Fax +91 80 6661 6530</p>
          <p>customerservice.india@dqs.de</p>
          <p>www.dqsglobal.com</p>
        </div>
        <div class="col-2 foot_style">
          <p>Registered in India</p>
          <p>PAN : AAACU9924E</p>
          <p>IEC: 0709000014</p>
          <p>CIN: U74140KA2008FTC046448</p>
          <p>GSTIN: 29AAACU9924E1Z3</p>
          <p>MSME(Udyog Aadhar)</p>
          <p>Regn.No.: KR03E0036364</p>
        </div>
        <div class="col-2 iqnet_icon foot_style">
          <p style="color: #00338c;">DQS is a Member o</p>
          <img src="../../../../../../assets/icons/iqnet_dqs.png">
        </div>
      </div>



    </div>


  </div>
</mat-card>