<mat-card>
    <div class="section">
      <div class="main">
        <div class="employee">
        </div>
        <div class="msater-nav">
            <a href="">Auditor<mat-icon>keyboard_arrow_right</mat-icon></a>
            <a routerLink="../">My Auditor List</a>
        </div>
        <div class="updatetitle" > <h2><b>Create Auditor</b></h2></div>
        <!-- <div class="updatetitle" *ngIf="makePaymentStatus"> <h2><b>Approve Expense</b></h2></div>
        <div class="updatetitle" *ngIf="makePaymentStatusApproved"> <h2><b>Expenses Accounts Payable</b></h2></div> -->
        <section class="job-nav">


            <mat-card style="padding: 20px 0px;">
              <div class="row form_head">
                <h3>Auditor</h3>
              </div>
              <div class="form_basic">
                <form class="form_set" [formGroup]="expenceForm">
                  <div class="row">
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>Br Number</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" readonly class="readonly-wrapper">
                          <input matInput type="text" formControlName="br_number" readonly/>
                       </mat-form-field>
                      </div>
                    </div>

                      <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12" >
                        <div class="form-group">
                          <p>Associated Company</p>
                        </div>
                      </div>
                        <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12" >
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                          <input matInput type="text" formControlName="associated_company" readonly/>
                            </mat-form-field>
                          </div>
                        </div>
                  </div>




                  <div class="row">
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>Cutomer Type</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" readonly class="readonly-wrapper">
                          <input matInput type="text" formControlName="customer_type" readonly/>
                       </mat-form-field>
                      </div>
                    </div>

                      <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12" >
                        <div class="form-group">
                          <p>Contact Owner</p>
                        </div>
                      </div>
                        <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12" >
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                          <input matInput type="text" formControlName="contact_owner" readonly/>
                            </mat-form-field>
                          </div>
                        </div>
                  </div>

                  <div class="row">
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>Mobile Number</p>
                      </div>
                    </div>
                    <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" readonly>
                          <input matInput type="text" formControlName="mobile_number"/>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>Customer Category</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" readonly>
                          <input matInput type="text" formControlName="customer_category"/>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>Total Amount</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" readonly>
                          <input matInput type="number" min="1" formControlName="finalAmount"/>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="row">
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>First Name</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" readonly>
                          <input matInput type="text" formControlName="first_name"/>
                        </mat-form-field>
                      </div>
                    </div>

                  </div> -->
                  <table class="table table-bordered" id="itemTable">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Item Description</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Unit Price</th>
                        <th>Net Amount</th>
                        <!-- <th style="cursor: pointer;">Select Line Items</th> -->
                      </tr>
                    </thead>
                    <tbody class="invoice_line">
                      <tr >
                        <!-- <td>{{i+1}}</td>
                        <td>{{data?.item_description}}</td>
                        <td>{{data?.quantity}}</td>
                        <td>{{data?.unit}}</td>
                        <td>{{data?.unitPrice}}</td>
                        <td>{{data?.netAmount}}</td> -->

                        <!-- <td><input type="checkbox" [checked]="data.lineItem_status" class="itemCheckbox" (change)="line_itms_change($event,data)"></td> -->
                      </tr>     

                      <!-- <tr class="form_set" [formGroup]="add_dynamic_invoice">
                        <td formControlName="sr_no_add"></td>
                        <td><input type="text" formControlName="item_description"></td>
                        <td><input type="number" formControlName="qty" ></td>
                        <td><input type="text" formControlName="unit"></td>
                        <td><input type="number" formControlName="unit_price" ></td>
                        <td><input type="number" formControlName="net_amount" readonly></td>
                        <td><mat-icon style="cursor: pointer;" matTooltip="create manually invoice">add_box</mat-icon></td>
                      </tr> -->
                      <!-- Add more rows as needed -->
                    </tbody>
            
                  </table>
                   <br>
          <div class="upload-btn">
                  <button  class="cancel-btn"  >
                    Cancel
                  </button>


                  <button class="favorite styled"(click)="CreateExpense()">Audit</button>
                </div>
                </form>
              </div>
            </mat-card>

        </section>
    </div>
    </div>
  </mat-card>
