<div class="row form_head" *ngIf="show!=='data'">
    <h3>Sales and Marketing Notification</h3>
    <div class="searchContainer">
    <button (click)="deleteAll()" *ngIf="length_noti!==0" [@simpleFadeAnimation]="'in'" class="backBtn">Delete All
    </button>
        <!-- <input type="text" placeholder="Search by Trainer/Auther" [(ngModel)]="searchVal" class="searchField" #searchBox
            [disabled]="disabledSearchBox">
        <mat-icon class="searchIcon" (click)="showSearchBox(searchBox)">search</mat-icon> -->
    </div>
</div>
<div class="tableContainer">
    <div class="tableHeader">
        <span class="s1">Sr.</span>
        <span class="s2">Notification</span>
        <span class="s3">Action</span>
    </div>
    <span class="notFound" *ngIf="rowData?.length === 0 || (rowData)?.length === 0">Record not found</span>
    <mat-spinner *ngIf="showLoader" style="width: 50px; height:50px;"></mat-spinner>
    <div class="bodyContainer">
        <ng-container *ngFor="let data of rowData; index as i">
            <div class="tableBody" [@simpleFadeAnimation]="'in'" 
            (mouseenter)="isHidden = !isHidden" (mouseleave)="isHidden = !isHidden">
                <span class="t1">{{i+1}}</span>
                <span class="t2">{{data?.remark}}</span>
               <span>
                <input type="checkbox" (click)="select_multiple(data,$event)">
               </span>
                <mat-icon  [@simpleFadeAnimation]="'in'" matTooltip="Remove" [ngStyle]="{'color':'red'}"
                (click)="openDialog(data,$event)" >delete</mat-icon>       
            </div>
        </ng-container>
    </div>
</div>
<!-- ************************(dialog)For Approval Block ****************************** -->
<div *ngIf="show=='data'">
<h1>ok</h1>
</div>