.navigate{
    width : 500px;
    height : 40px;
}
.racks-input{
    width: 292px;
    height: 36px;
    margin-top: -10px;
    margin-left: -7px;
}

.racks-input:disabled {
    color: #333; /* Dark grey color */
}
.racks-input:hover {
    color: white;
}
.rowClass:hover .racks-input { 
    color: white; 
} 

// .rowClass:hover {
//     background-color: #d68910;
//     color: #fff;
//     cursor: pointer;
// }