<div class="section">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-12 course">
        <div class="loginpage">
          <mat-card>
            <div>
                <app-advance-planning></app-advance-planning>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-12 course">
        <div class="loginpage">
          <mat-card>
            <div>
                <app-lms></app-lms>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-12 course">
        <div class="loginpage">
          <mat-card>
            <div>
              <app-s-and-m></app-s-and-m>
            </div>
          </mat-card>
        </div>
      </div>
 
    </div>
  </div>
