.cotain {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .actionC {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 38px;
        background: #207ef32b;
        border-radius: 4px;
    }
}


.example-section {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

:host::ng-deep .checkboxFeild {
    -webkit-appearance: none;
    appearance: none;
    height: 23px;
    width: 46px;
    padding-left: 23px;
    margin: -1px 0;
    border-radius: 37px;
    background: radial-gradient(circle 7px, #063178 100%, transparent calc(100% + 1px)) rgb(255 246 246 / 93%) -11px;
    transition: 0.3s ease-in-out !important;
    box-shadow: 0 0 5px 1px #bbb8b8;
    cursor: pointer;
}

.checkboxFeild::before {
    content: "NO";
    font: bold 08px/22px Verdana;
    color: rgb(34, 34, 34);
    position: relative;
    bottom: 2px;
}

:checked {
    padding-left: 8px;
    background-color: rgba(77, 250, 115, 0.74);
    background-position: 11px;
}

:checked::before {
    content: "YES";
    position: relative;
    bottom: 2px;
}

:host::ng-deep .spiner .mat-mdc-progress-spinner svg {
    width: 80px !important;
    height: 80px !important;
}

:host::ng-deep .mat-mdc-progress-spinner circle,
.mat-mdc-spinner circle {
    stroke: #ffffff !important;
};

:host::ng-deep .I-center .mat-mdc-progress-spinner svg {
    width: 18px !important;
    height: 18px !important;
};

:host::ng-deep .mdc-circular-progress__gap-patch {
    display: none !important;
};

:host::ng-deep .mdc-circular-progress__circle-clipper {
    width: 24% !important;
};

:host::ng-deep .I-center .mat-mdc-progress-spinner svg {
    width: 18px !important;
    height: 18px !important;
};

.assignBtn .mat-mdc-progress-spinner {
    display: block !important;
    position: relative !important;
    overflow: hidden !important;
    // left: 22px !important;
    top: 0px !important;
};
.cencelBtn{
    right: 15px;
    position: absolute;
    top: 16px;
    background: #fff;
    color: #214d92;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    cursor: pointer;
}