<div class="section">
    <section class="tab-bar">
        <div fxflex="100%">
            <div class="row">
                <div class="tab_menu">
                    <div class="tab-item">
                        <button class="main-button" color="primary" [routerLink]="['raise-po']"
                            routerLinkActive="active"> Raise PO </button>
                        <button class="main-button" color="primary" [routerLink]="['po-issued']"
                            routerLinkActive="active">PO Issued
                        </button>
                        <button class="main-button" color="primary" [routerLink]="['draft-pos']"
                            routerLinkActive="active">Draft PO</button>
                        <button class="main-button" color="primary" [routerLink]="['approved-po']"
                            routerLinkActive="active">APPROVED</button>
                        <button class="main-button" color="primary" [routerLink]="['rejected-po']"
                            routerLinkActive="active">REJECTED</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<router-outlet></router-outlet>