.main {

    // width: 1071.4px;

    .employee{
        color: #063178;
        font-weight: 400;
        font-size: 16px;
    }
    .main-table{
        
         border: 1px solid rgb(168, 168, 168);
          border-radius: 4px;
          table {
            width: 100%;
            padding: 32px;

            th {
                font-weight: 900;
                font-size: 11px;
                border-bottom: 1px solid #dadada;
                background-color: rgb(119, 119, 119);
                color: #fff;
                font-weight: 400;
            }
            td {
                font-weight: 900;
                font-size: 14px;
                border: 1px solid #dadada;
                font-weight: 400;
                font-size: 10px;
                a{
                    margin: 0 8px 0 0;
                    color: #063178;
                    cursor: pointer;
                }
            }
            
    
        }
        .add-leave{
            background: #063178;
            color: #fff;
            h3{
                padding: 8px 12px;
                font-weight: 300;
            }
        }
        .paddin-box{
            padding: 16px 32px 32px 32px;
        }
    }
    

    .msater-nav {
        a {
            margin: 0 24px 0 0;
        }

        :first-child {
            color: #c0c0c0;
        }

        :last-child {
            color: #063178;
        }

        mat-icon {
            position: absolute;
            margin-top: -4px;
        }
    }

    .apply-btn {
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            background: #063178;
            color: #fff;
            margin: 8px 0;
            padding: 4px 16px;
            border-radius: 4px;
            font-weight: 300;
            font-size: 12px;
            margin-bottom: 20px;
        }

        mat-icon {
            margin: 0;
        }

    }
    .serch-pegination{
        display: flex;
        float: right;
        display: flex;
        justify-content: space-between;
        width: 28%;
        margin: -7% 0.2%;
        justify-content: space-between;
        .pegination{
            width: 40%;
        }
    }
    .profile-count{
        text-align: right;
        p{
            // width: 20%;
            // margin-left: auto;
            color: #063178;
            span{
                padding: 0.8rem;
                background: #fff;
                border: 1px solid #c0c0c0;;
                color:#c0c0c0;
                    border-radius: 0.2rem;
            }
        }
           
    }

}
:host::ng-deep.mat-mdc-paginator-container {
    display: -webkit-inline-box;
}
:host::ng-deep.mat-sort-header-content {
    text-align: initial;
}
:host::ng-deep.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0 10px 0 10px;
}
.main-padding {
    padding: 6% 4%;
}

.employee_2 {
    font-size: 16px;
    color: #063178;
  }
  
  .employ_sube {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .employee_2 label {
    padding: 0px 12px;
}
// ::ng-deep .form_head{
//     margin-top: -10px!important;
// }
// @media(min-width:280px) and (max-width:1024px)
// {
//     ::ng-deep .form_head{
//      margin-top: 10px!important;
//     }
// }
.ml_10{
    margin-left: 10px;
}
