<div class="edd-del">

  <!-- <mat-icon *ngIf="showInvoice" matTooltip="Raise Invoice" (click)="emailSend($event)">receipt</mat-icon>

  <mat-icon *ngIf="showPrint" matTooltip="Print Invoice" (click)="printInvoice($event)">print</mat-icon>
  <mat-icon *ngIf="showRecivable" matTooltip="Send Finace" (click)="sendFinace($event)">done_outline</mat-icon>
  <mat-icon *ngIf="approvedStatus" matTooltip="send zoho"
    (click)="sendZohoInvoice($event)">account_balance_wallet</mat-icon> -->
  <mat-icon *ngIf="zoho_id_show" matTooltip="Download Invoice"
    (click)="invoiceCreate($event)">settings_applications</mat-icon>

</div>
