.employee_2 {
    font-size: 16px;
    color: #063178;
}
.btn_add {
    color: #fff;
    background-color: #063178;
    font-size: 14px;
    border-color: #063178;
    border-radius: 4px;
    border: 1px solid #063178;
    padding: 4px 14px;
}
.employ_sube{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.example-header select {
    height: 32px;
    color: #ffffff;
    border: none;
    background: #063178;
    border-radius: 5px;
    width: 99px;
}
.example-header span {
    padding: 0px 0px 0px 10px;
    color: #9d9ea0;
}
.employee_2 label {
    padding: 0px 12px;
}
.ag-theme-alpine .ag-header-cell {
   background-color: #8b8b8b !important;
}
.ag_grid{
    margin-top: 8px;
}