<h3 mat-dialog-title class="popHead">Price Map Record</h3>
<mat-dialog-content class="mat-typography">
    <div class="cotain">
        <div class="emp_key">
            <p>S. No : </p>
            <p>Price Mapping Name:</p>
            <p>Level Slab Name : </p>
            <p>Min Value:</p>
            <p>Max Value:</p>
            <p>Status: </p>
        </div>
        <div class="emp_value">
           <p>{{singlePriceMapData?.pricing_level_id}}</p>
           <p>{{singlePriceMapData?.price_mapping_name}}</p>
           <p>{{singlePriceMapData?.level_slab_name}}</p>
           <p>{{singlePriceMapData?.min_value}}</p>
           <p>{{singlePriceMapData?.max_value}}</p>
           <p>{{singlePriceMapData?.status}}</p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-raised-button color="primary">Close</button>
</mat-dialog-actions>