<div class="row">
  
  <ng-container *ngFor="let module of subModules">
    <div class="service-box">
      <div class="service-img" [routerLink]="module.menuLink" (click)="goInToPage(module)">
        <img [src]="module.menuIcon" alt="" />
      </div>
      <div class="card-title">
        <p>{{module.menuName}}</p>
      </div>
    </div>
  </ng-container>

    <!-- <div class="service-box" routerLink="invoice-request">
      <div class="service-img">
        <img src="assets//icons/icon_DQS/bill.png" alt="" />
      </div>
      <div class="card-title">
        <p>Invoice Request</p>
      </div>
    </div>-->

    <!-- <div class="service-box">
      <div class="service-img" routerLink="all-recived-invoice">
        <img src="assets//icons/icon_DQS/all-recive-invoice.png" alt="" />
      </div>
      <div class="card-title">
        <p>All Received Invoice
        </p>
      </div>
    </div>

    <div class="service-box" routerLink="all-payable">
      <div class="service-img">
        <img src="assets//icons/icon_DQS/all-payable.png" alt="" />
      </div>
      <div class="card-title">
        <p>All Payable</p>
      </div>
    </div>  -->
    <div class="service-box" routerLink="invoice-request">
      <div class="service-img">
        <img src="assets//icons/icon_DQS/bill.png" alt="" />
      </div>
      <div class="card-title">
        <p>Customer Data</p>
      </div>
    </div>
  </div>

