.mlr_15{
    margin-left: 15px;
    margin-right: 15px;
}
.submit_btn{
    float: right;
    margin-top: -75px;
}
.ckEditor{
    margin: 0 25px 25px 25px;
}
.mlr_3{
    margin-left: 15px;
    margin-right: 15px;
}
.link_color{
    color: #081789;
    cursor: pointer;
}
.flexCol{
    display: flex;
    flex-direction: row;
}
.deal_close_detail{
    margin-left: 15px;
    border: 1px solid #ddd;
}
.deal_close_detail h3{
    background: #ddd;
    padding: 8px 15px;
}
.deal_close_detail p{
    padding: 0px 15px;
}
.view_version{
    display: flex;
}
.view_version .mat-icon {
    margin: -2px 0px 0px 5px;
    color: #d68910;
    cursor: pointer;
}
.file_label{
    margin-top: -19px;
}