<h3 mat-dialog-title class="popHead">Rental Agreement RECORD</h3>
<!-- <button mat-button mat-dialog-close>Cancel</button> -->

<mat-dialog-content class="mat-typography">
  <div class="cotain">
    <div class="emp_key">
      <p>Rental Agreement Id:</p>
      <p>Name of the Agreement:</p>
      <p>Request Initiated Date:</p>
      <p>Vendor Name:</p>
      <p>Tenant Name:</p>
      <p>Agreement From Date:</p>
      <p>Agreement To Date:</p>
      <p>Amount:</p>
      <p>Tax:</p>
      <p>Total Amount:</p>
      <p>Uploaded Agreement:</p>
      <p>Status:</p>
    </div>

    <div class="emp_value">
      <p>{{ singleData?.rental_aggrement_id }}</p>
      <p>{{ singleData?.name_of_the_Agreement }}</p>
      <p>{{ singleData?.request_initiated_date }}</p>
      <p>{{ singleData?.vendor_name }}</p>
      <p>{{ singleData?.tenant_name }}</p>
      <p>{{ singleData?.agreement_from_date }}</p>
      <p>{{ singleData?.agreement_to_date }}</p>
      <p>{{ singleData?.amount }}</p>
      <p>{{ singleData?.tax }}</p>
      <p>{{ singleData?.total_amount }}</p>
      <p>
        <a href="{{ singleData?.Rental_documents[0]?.upload_agreement_copy }}" target="_blank">
          <span style="color: blue">view file</span>
        </a>
      </p>
      <p>{{ singleData?.rental_status }}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close mat-raised-button color="primary">
    Close
  </button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
