<h3 mat-dialog-title class="popHead">PO Approved</h3>
<!-- <button mat-button mat-dialog-close>Cancel</button> -->

<mat-dialog-content class="mat-typography">
    <div class="cotain">
        <p>Do you want to approve this PO</p>
        <div class="row">
            <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <form class="form_set" [formGroup]="remarksForm">
                    <div class="form-group">
                        <mat-form-field appearance="outline" style="width: 30vw">
                            <mat-label *ngIf="alldataPo.level!=1">APPROVED || REJECTED || PUSH BACK</mat-label>
                            <mat-label *ngIf="alldataPo.level==1">APPROVED || REJECTED</mat-label>
                            <mat-select formControlName="Approvel_status">
                                <mat-option value="APPROVED">APPROVED</mat-option>
                                <mat-option value="REJECTED">REJECTED</mat-option>
                                <mat-option *ngIf="alldataPo.level!=1" value="PUSH BACK">PUSH BACK</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Remark</mat-label>
                            <input matInput type="text" formControlName="remarks" />
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-raised-button color="primary" (click)="updatePoRemarkApprove($event)">
        Submit
    </button>
    <button mat-button mat-dialog-close mat-raised-button color="warn" style="float: right">
        Close
    </button>
    <!-- <button mat-button mat-dialog-close mat-raised-button color="warn" (click)="updatePrRemarkReject($event)">Reject</button> -->
</mat-dialog-actions>