.edd-del {
    mat-icon {
        cursor: pointer;
        position: relative;
        margin-top: 6px;
        color: #063178;
    }

    :nth-child(2) {
        margin: 0 16px;
    }

    :nth-child(4) {
        margin: 0 16px;
    }
}

.readonly-wrapper {
    pointer-events: none;
}

/* vikash css start */
// .pdf-content {
//     position: absolute;
// }

// .pdf-content_copy{
//     position: absolute;
// }

.bill_name p {
    padding: 0px 7px;
    line-height: 20px;
}

.bill_special {
    line-height: 20px;
}

.bill_special label {
    background: #063178;
    width: 100%;
    padding: 0px 7px;
    color: #fff;
    border: 1px solid #063178;
    line-height: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #3364b4;
    color: white;
    font-weight: 300;
}

textarea {
    border-radius: 0px !important;
}

.file_field input {
    line-height: 0px;
}

.make_all {
    padding-bottom: 1px !important;
}

.make_all p {
    line-height: 18px;
}

.invoice_data tr td {
    line-height: 0px;
    width: 100% !important;
}

.des_cription {
    padding: 0px 8px !important;
    line-height: 20px;
}

.total_line {
    float: right;
    margin-right: 20px;
}

.invoi_total {
    float: right;
    margin-right: 45px;
}

/* vikash css end */


// invoice\

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
//   #customers tr:nth-child(even){background-color: #f2f2f2;}
  
//   #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    // background-color: #04AA6D;
    color: white;
  }

  .text_end p{
    text-align: end;
  }

  .size_table th{
    font-size: 9px;
  }

  .size_table td{
    font-size: 9px;
  }
  .design_box{
    border: 3px solid;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
  }
  .link_dqs{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
  }

  .link_dqs a{
    color: #000;
  }

  .info_dqs{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
  }

  .font_design tr td{
    font-size: 16px;
  }
  .foot_style p{
    font-size: 11px;
  }

  .invoice_file mat-icon{
    cursor: pointer;
  }
//   .pdf-content {
//     visibility: hidden;
// }

.pdf-content_copy {
    position: fixed;
  }