<div class="section" >
  <h3 mat-dialog-title class="popHead" style="padding-left: 5px" >Proposal Version Details</h3>

  <section >
    <div class="table-responsive handleVersion"  >
      <table class="table table-bordered">
        <thead class="handleVersion">
          <tr>
            <th>S No.</th>
            <th>Version Number</th>
            <th>Created Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr *ngFor="let data of rowData; let i = index">
              <td>{{i + 1}}</td>
              <td>{{data?.version}}</td>
              <td>{{data?.createdAt}}</td>
              <td>
                <mat-icon class="view_icon" (click)="viewProposal(data)">visibility</mat-icon>
                <mat-icon class="download_icon">download</mat-icon>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </section>
</div>