<div class="section">
  <h3 mat-dialog-title class="popHead" style="padding-left: 5px;">Lead Status Record</h3>
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->

  <mat-dialog-content class="mat-typography">
    <div class="cotain">
      <div class="emp_key">
        <p>Id:</p>
        <p>Contact Person Name:</p>
        <p>Contact Number:</p>
        <p>Service Name:</p>
        <p>Lead Owner:</p>
        <p>Document:</p>


      </div>
      <div class="emp_value">
        <p>{{singleLeadStatusData?.id}}</p>
        <p>{{singleLeadStatusData?.contact_person_name}}</p>
        <p>{{singleLeadStatusData?.contact_number}}</p>
        <p>{{singleLeadStatusData?.product_name}}</p>
        <p>{{singleLeadStatusData?.lead_owner}}</p>
        <a href="{{fileUrl}}{{singleLeadStatusData?.upload_image}}" target="_blank">
          <button mat-button mat-dialog-close mat-raised-button color="info">View</button>
        </a>

      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-raised-button color="primary" style="float: right;">Close</button>
  </mat-dialog-actions>
</div>