
<div class="section">
<div class="row head">
    <p>Finance & Accounting</p>
  </div>
  <div class="row py-1" >
    <div class="col-xxl-8 col-lg-8 col-md-8 col-sm-8 col-12">
    <div class="employee_top">Dashboard
      <span class="employee_2"><i class="fa fa-angle-right" aria-hidden="true" style="color:#063178">
        </i>
       Account Recievable </span>
    </div>
  </div>


<div class="row list_order">
  <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12 form_heads1 pt-2"
  (click)="navigate()"
  >
    <h3>Invoice List</h3>
  </div>
  <div
    class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12 form_heads2 pt-2"
   
  >
    <h3>Make Manual Invoice</h3>
  </div>
</div>
<div class="employ_sube py-2">
    <div class="example-header">
      <select (change)="onPageSizeChanged()" id="page-size">
        <option value="10" selected="">10</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
      </select>
     </div>
     </div>
<div fxflex="100%">
  <div class="row">
    <div class="tab_menu">
      <div class="tab-item">
        <button
          class="main-button"
          [routerLink]="['pending-manual-invoice']"
          routerLinkActive="active"
          color="primary"
        >
          Pending
        </button>
        <button
          class="main-button"
          [routerLink]="['approved-manual-invoice']"
          routerLinkActive="active"
          color="primary"
        >
          Approved
        </button>
        <button
          class="main-button"
          [routerLink]="['reject-manual-invoice']"
          routerLinkActive="active"
          color="primary"
        >
          Reject
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<router-outlet></router-outlet>