
.tab_menu li {
    list-style: none;
    float: left;
}
.tab-item{
    display: flex;
    flex-wrap: wrap;
}

.employee_top {
    color: #989aa0;
    cursor: pointer;
}
.employee_2 {
    font-size: 16px;
    color: #063178;
}
.btns {
    width: 100%;
    // padding: 20px 0px 20px 14px;
}
.btns button{
    background-color: #063178;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    width: 71px;
    height: 28px;
    letter-spacing: 1px;
}
.main-button {
    text-decoration: none;
    color: #063178;
    margin: 12px;
    border: 1px solid #063178;
    padding: 10px 16px;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
    font-size: 12px;
    cursor: pointer;
}
.active {
    color: white !important;
    margin: 12px;
    border: 1px solid #063178 !important;
    padding: 10px 16px;
    border-radius: 4px;
    background-color: #063178 !important;
    font-size: 12px;
}

div .btn1 {
    background-color: #207806;
    font-weight: 400;
    padding: 0px 35px
}

div .btn2 {
    background-color: #a70818;
    font-weight: 400;
    padding: 0px 28px;
}

.btn_employ {
    padding: 20px;
}

.imgEmp {
    width: 41px;
    height: 31px;
    position: relative;
    top: -35px;
    left: 84%;
    border-radius: 5px;
    cursor: pointer;
}

.file_delete {
    width: 33px;
    height: 27px;
    position: relative;
    top: -31.5px;
    left: 259px;
    border-radius: 5px;
}
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    // top: 50%;
    // left: 50%;
    width: 20px;
    height: 20px;
    // margin-top: -10px;
    // margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #063178;
    animation: spinner .8s linear infinite;
    margin: 0px 0px 0px 8px
  }

