div .btn1{
    background-color: #207806;
    font-weight: 400;
    padding: 0px 35px
}

div .btn2{
    background-color: #a70818;;
    font-weight: 400;
    padding: 0px 28px
}
.btn_employ{
    padding: 20px;
}.form_heads2{
    text-align: center;
    background-color: #0a46a7;
    color: white;
    cursor: pointer;
  }
  .form_heads1{
    text-align: center;
    background-color: white;
    color: #0a46a7;
    cursor: pointer;
    border: 1px solid #82b0fa;
  }