<mat-card>
    <div class="section">
      <div class="main">
        <div class="employee">
        </div>
        <div class="msater-nav">
            <a href="">My Expenses<mat-icon>keyboard_arrow_right</mat-icon></a>
            <a routerLink="../">My Expenses List</a>
        </div>
        <div class="updatetitle" > <h2><b>Create Expense</b></h2></div>
        <!-- <div class="updatetitle" *ngIf="makePaymentStatus"> <h2><b>Approve Expense</b></h2></div>
        <div class="updatetitle" *ngIf="makePaymentStatusApproved"> <h2><b>Expenses Accounts Payable</b></h2></div> -->
        <section class="job-nav">
          
  
            <mat-card style="padding: 20px 0px;">
              <div class="row form_head">
                <h3>My Expenses</h3>
              </div>
              <div class="form_basic">
                <form class="form_set" [formGroup]="expenceForm">
                  <div class="row">
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>Br Number</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" readonly class="readonly-wrapper">
                          <input matInput type="text" formControlName="br_number" readonly/>
                       </mat-form-field>
                      </div>
                    </div>
  
                      <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12" >
                        <div class="form-group">
                          <p>Associated Company</p>
                        </div>
                      </div>
                        <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12" >
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                          <input matInput type="text" formControlName="associated_company" readonly/>
                            </mat-form-field>
                          </div>
                        </div>
                  </div>




                  <div class="row">
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>Expense Type</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" readonly class="readonly-wrapper">
                          <input matInput type="text" formControlName="expense_type" readonly/>
                       </mat-form-field>
                      </div>
                    </div>
  
                      <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12" >
                        <div class="form-group">
                          <p>Task Order</p>
                        </div>
                      </div>
                        <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12" >
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                          <input matInput type="text" formControlName="task_order" readonly/>
                            </mat-form-field>
                          </div>
                        </div>
                  </div>
  
                  <div class="row">
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>Expense Name</p>
                      </div>
                    </div>
                    <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" readonly>
                          <input matInput type="text" formControlName="expense_name"/>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>Expense Description</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" readonly>
                          <input matInput type="text" formControlName="expense_desc"/>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>Total Amount</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" readonly>
                          <input matInput type="number" min="1" formControlName="finalAmount"/>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>First Name</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" readonly>
                          <input matInput type="text" formControlName="first_name"/>
                        </mat-form-field>
                      </div>
                    </div>
                  
                  </div>

                   <br>
          <div class="upload-btn">
                  <button  class="cancel-btn"  >
                    Cancel
                  </button>
                 
                
                  <button class="favorite styled"(click)="CreateExpense()">Expense</button>
                </div>
                </form>
              </div>
            </mat-card>
         
        </section>
    </div>
    </div>
  </mat-card>