.employee_2 {
    color: #063178;
  }
  
  .btn_add {
  
    color: #fff;
    background-color: #063178;
    font-size: 14px;
    border-color: #063178;
    border-radius: 4px;
    border: 1px solid #063178;
    padding: 5px 4px;
  }
  
  .icon_img img {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
  
  mat-card {
    width: 82%;
    // padding: 20px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 25px #b0bac93d;
    border: 1px solid #2e5bff14;
    border-radius: 5px;
  }
  
  .empl_05 {
    background-color: #063178;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .sub_head p {
    padding-top: 10px;
    margin-left: 25px;
  }
  
  .icon_img {
    background-color: #fff;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #9BAAB4;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
  }
  
  .head p {
    font-size: 17px;
    color: #063178;
  }
  
  .employee_top {
    color: #989aa0;
  }
  
  .employee_2 {
    font-size: 16px;
    color: #063178;
  }
  
  .example-header select {
    height: 32px;
    color: #ffffff;
    border: none;
    background: #063178;
    border-radius: 5px;
    width: 99px;
  }
  
  .employ_sube {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-header span {
    padding: 0px 0px 0px 10px;
    color: #9d9ea0;
  }
  
  .employee_2 label {
    padding: 0px 12px;
  }
  
  .sub_head {
    width: 100%;
    background-color: #063178;
    color: white;
    font-size: 23px;
    padding: 14px 0px 8px 19px;
    margin: 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  
  .ag-theme-alpine {
    --ag-header-foreground-color: #e2e2e2;
    --ag-header-background-color: #8b8b8b;
  
  }
  
  .ag-header-cell-label {
    justify-content: center;
  }
  
  
  .serch_box_set mat-form-field{
    width: 50%;
  }
  
  
  
  // :host::ng-deep .mat-focused .mat-form-field-label {
  //   color: #063178 !important;
  // }
  
  // :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  //   color: gray !important;
  // }
  
  // :host ::ng-deep mat-form-field.mat-form-field {
  //   color: rgb(150, 148, 148) !important;
  // }
  
  // :host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  //   color: #063178 !important;
  // }
  
  // :host ::ng-deep .mat-form-field-underline {
  //   background-color: #063178 !important;
  // }
  
  // :host ::ng-deep .mat-form-field-ripple {
  //   background-color: #063178 !important;
  
  // }
  
  ::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: black;
  }
  
  // input.mat-input-element {height:105px}
  .ag_grid
  {
    overflow: hidden;
  }
  #myGrid
  {
    overflow: hidden;
  }
  
  .msater-nav {
    a {
        margin: 0 24px 0 0;
    }
    :nth-child(1) {
        color: black;
      }
      :nth-child(2) {
        color: black;
      }
    :nth-child(3) {
        color: #0d6efd;
      }
    mat-icon {
        position: absolute;
        margin-top: -4px;
    }
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}

body {
	padding: 40px;
	color: #44546a;
	font-family: Lato, Helvetica, sans-serif;
	font-size: 0;
}

.label {
	overflow: hidden;
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.date {
	color: #8497b0;
	font-size: 12px;
	font-weight: 400;
}

.score-value {
	position: relative;
	width: 65px;
	margin: 0 auto;
	font-size: 16px;
	text-align: right;
	
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: -16px;
		display: block;
		width: 8px;
		height: 8px;
		margin-top: -4px;
		border-radius: 50%;
	}
	

	&--bad::after {
		background: #e60b0b;
	}
			
	&--good::after {
		background: #f6c73a;
	}
		
	&--very-good::after {
		background: #47b247;
	}
}

.wrapper {
	border: 1px solid #e6eaf0;
}

table {
	border-collapse: collapse;
}

.table-scores {
	table-layout: fixed;
	width: 180px;
	display: inline-block;
	background: #f9fafc;
	border-right: 1px solid #e6eaf0;
  vertical-align: top;
	
	td, th {
		max-width: 179px;
	}
	
	th {
		background: #eff1f4;
		text-align: left;
	}
}

.table-data-wrapper {
	display: inline-block;
  overflow-x: scroll;
  vertical-align: top;
  width: calc(100% - 180px);
	
	table {
		border-left: 0;
	}
	
// to hide the head of the table - uncomment
// 	table {
// 		padding-top: 71px;
// 	}
	
// 	thead {
// 		display: block;
// 		visibility: hidden;
// 	}
	
	td, th {
		width: calc((100vw - 2 * 40px - 180px) / 5);
		
		@media (min-width: 900px) {
			min-width: calc((100vw - 2 * 40px - 180px) / 5);
			max-width: calc((100vw - 2 * 40px - 180px) / 5);
		}
		
		@media (max-width: 1023px) {
			min-width: calc((100vw - 2 * 40px - 180px) / 3);
			max-width: calc((100vw - 2 * 40px - 180px) / 3);
		}
		
		&:not(:last-child) {
			border-right: 1px solid #e6eaf0;
		}
	}
}

th {
	height: 72px;
}

th, td {
	padding: 0 16px;
}

thead {
	background: #f9fafc;
}

td {
	height: 48px;
}

thead tr,
tbody tr:not(:last-child) {
	border-bottom: 1px solid #e6eaf0;
}
.image{
  width: 101px;
  height: 98px;
}







