<div class="section">
    <div class="row head">
      <p>Finance & Accounting</p>
    </div>
    <div class="row py-1">
      <div class="employee_top">Dashboard
        <span class="employee_2"><i class="fa fa-angle-right" aria-hidden="true" style="color:#063178">
          </i>
         Account Recievable </span>
      </div>
    </div>
  
    <div class="employ_sube py-2">
      <div class="">
        <div class="example-header">
          <select (change)="onPageSizeChanged()" id="page-size">
            <option value="10" selected="">10</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
          <!-- <span class="pag_size">Per Page</span> -->
        </div>
      </div>
     </div>
  
  
    <div class="form_head">
      <h3>E Invoice</h3>
    </div>
    <div class="ag_grid">
      <ag-grid-angular class="ag-theme-alpine" id="myGrid" style=" width:100%; height:400px;" [rowData]="rowData"
        [columnDefs]="columnDefs" [pagination]=true [paginationPageSize]=10 [rowData]="rowData"
        (gridReady)="onGridReady($event)" (cellClicked)='onCellClicked($event)' [rowClass]="rowClass">
      </ag-grid-angular>
    </div>
  </div>