<div class="section">
  <div class="head">
    <p>Employee</p>
    <button mat-stroked-button><mat-icon>print</mat-icon></button>
  </div>
  <div class="employ_sube py-1">
    <div class="employee_top">Dashboard
      <span class="employee_2"><i class="fa fa-angle-right" aria-hidden="true" style="color:#063178">
        </i>
        PaySlip List
      </span>
    </div>
    <div class="btn_add">
      <mat-form-field appearance="outline">
        <mat-label>Month</mat-label>
        <input matInput [matDatepicker]="dp" (click)="dp.open()" formControlName="date_of_birth" />
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mx-3">
        <mat-label>Year</mat-label>
        <input matInput [matDatepicker]="dp" (click)="dp.open()" formControlName="date_of_birth" />
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
      <span type="button">Processing</span>
    </div>
  </div>

  <div class="employ_sube py-2">
      <div class="example-header">
        <select (change)="onPageSizeChanged()" id="page-size">
          <option value="10" selected="">10</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <!-- <div class="employee_2" align="end">
        <label>Search: </label>
        <input type="text" id="filter-text-box" (input)="onFilterTextBoxChanged()">
      </div> -->
      <div>
        <input type="text" class="form-control" id="filter-text-box" #input placeholder="Search"
          (input)="onFilterTextBoxChanged()">
      </div>
  </div>


  <div class="form_head">
    <h3>Search PaySlip List</h3>
  </div>
  <div class="ag_grid">
    <ag-grid-angular class="ag-theme-alpine" style=" width:100%; height:400px;" [rowData]="rowData"
      [columnDefs]="columnDefs" [pagination]=true [paginationPageSize]=10 [rowData]="rowData"
      (gridReady)="onGridReady($event)" [rowClass]="rowClass">
    </ag-grid-angular>
  </div>
</div>