<h3 mat-dialog-title class="popHead"> Upload (Verify Dqs Data) .csv File</h3>

<mat-dialog-content class="mat-typography">


  <!-- <div style="display: flex;">
   <span class="image">
   <a href="https://chargeupadmin.elitetraveltech.in/inventory_bulkUpload (101).csv"><img src="assets\icons\top3.png" alt="Screenshot-67" download="sample-inventory-csv"></a>
   <span style="margin-left:12px;">Demo File Csv</span>
  </span>
    <span class="file-input">
      <input type="file" id="file" class="file" (change)="uploadCsv($event)">
      <label for="file">Choose file</label>
    </span>
    <span class="file-name" *ngIf="!show">No file chosen</span>
  </div> -->

    <div class="service">
      <div>
        <a matTooltip="Download Demo File" [href]="DemoFileUrl">
          <!-- <mat-icon class="demo-file">cloud_download</mat-icon> -->
          <img src="assets\icons\download-from-cloud.png" alt="Screenshot-67" download="User-data-sample-csv-file" style="height: 50px; width: 50px;">
            
        </a>
      </div>
        <div class="file-input" style="padding-top: 23px;">
          <input type="file" id="file" class="file" (change)="uploadCsv($event)">
          <label for="file">Choose file</label>
        </div>
        <div class="file-name" style="padding-top: 30px;">
          {{setText}}<br>
          {{setFileSize}}
      </div>

    </div>
  <!-- <span class="file-name"></span> -->

</mat-dialog-content>
<mat-dialog-actions align="end" class="closeContainer">
  <button mat-button mat-raised-button color="primary" [mat-dialog-close]="true" class="btn_upload"
    (click)="upload_fileS()" cdkFocusInitial>Upload</button>
  <button mat-button mat-raised-button color="warn" mat-dialog-close class="btn_skip">Skip</button>
</mat-dialog-actions>