<h3 mat-dialog-title class="popHead">Segment Record</h3>
<mat-dialog-content class="mat-typography">
    <div class="cotain">
        <div class="emp_key">
            <p>S. No : </p>
            <p>Customer Name : </p>
            <p>Status :</p>
        </div>
        <div class="emp_value">
           <p>{{singleSegmentData?.segment_id}}</p>
           <p>{{singleSegmentData?.segment_name}}</p>
           <p>{{singleSegmentData?.status}}</p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-raised-button color="primary">Close</button>
</mat-dialog-actions>