.flex_row{
    display: flex;
    flex-direction : row;
}
.openButton{
    width : 60px;
    height : 30px;
    background-color: #081684;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.openButton2{
    width : 60px;
    height : 30px;
    background-color: lightgreen;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color:white;
    font-size: 10px;
}
