
 <mat-card>
  <div class="section">
    <div class="main">
      <div class="employee">
          <!-- <p>HRMS</p> -->
      </div>

      <div class="msater-nav">
        <a href="">Opportunity<mat-icon>keyboard_arrow_right</mat-icon></a>
        <a routerLink="../">Work Order</a>
      </div>
      
      <div class="updatetitle">Work Order Creation</div>

      <div class="apply-btn">
        <!-- <a routerLink="../interview-status-list">List</a> -->
      </div>
      <section class="job-nav">
        <div class="section">
          <mat-card>
            <div class="row form_head">
              <h3>Customer Details</h3>
            </div>
            
        <div class="form_basic">
          
          <form class="form_set" [formGroup]="leadForm">
              Customer Type
              <input formControlName="customer_type" (click)="customerTypeNew()" checked="checked" type="radio" name="customer_type" value="New User" id="red" style="margin: 0 5px 0 4%;">New 
              <input formControlName="customer_type" (click)="customerType()" type="radio" name="customer_type" value="Existing User" id="blue" style="margin: 0 5px 4% 4%;">Existing Customer
              <span style="margin-left: 10%;">Multiple Site Audit</span>
              <input formControlName="site_audit" (click)="siteAuditNew()" checked="checked" type="radio" name="site_audit" value="Yes" id="red" style="margin: 0 5px 0 4%;">Yes 
              <input formControlName="site_audit" (click)="siteAudit()" type="radio" name="site_audit" value="No" id="blue" style="margin: 0 5px 4% 4%;">No
            
            <div class="row">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group" *ngIf="cutomerType">
                  <p>Associated Company</p>
                  <mat-form-field appearance="outline" readonly>
                      <mat-select formControlName="associated_company">
                        <mat-option value="Elite Mindz Technology">Elite Mindz Technology</mat-option>
                        <mat-option value="DQS Pvt Ltd">DQS Pvt Ltd</mat-option>
                      </mat-select>
                      
                  </mat-form-field>
                </div>
                <div class="form-group" *ngIf="!cutomerType">
                  <p>Associated Company</p>
                  <mat-form-field appearance="outline" readonly>
                    <input matInput type="text" formControlName="associated_company"/>
                    <mat-error
                        *ngIf="
                          leadForm.controls['associated_company'].hasError(
                            'required'
                          )
                        "
                      >
                        This field is required!
                      </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Segment&nbsp;<span class="form_required">*</span></p>
                  <mat-form-field appearance="outline" >
                    <mat-select formControlName="segment">
                      <mat-option *ngFor="let item of segmentList" [value]="item.segment_id">{{ item.segment_name
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                  <div class="form-group">
                    <p>Certificate Type</p>
                    <mat-form-field appearance="outline" >
                      <mat-select formControlName="certificate_type">
                        <mat-option *ngFor="let item of certificateList" [value]="item.certificate_type_id">{{
                          item.certificate_type_name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    </div>
              </div>
            </div>

            <div class="row" *ngIf="cutomerType">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>BR No.</p>
                  <mat-form-field appearance="outline" readonly>
                    <!-- <mat-label>Candidate Name</mat-label> -->
                    <input matInput type="text" formControlName="br_number1"/>
                    
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                  
              </div>
            </div>

            <div class="row" *ngIf="cutomerType">
              <div class="col-xxl-8 col-lg-8 col-md-8 col-sm-8 col-12">
                <div class="form-group">
                  Do you want to Create New Location/Site - {{this.singleLeadData.br_number}}
                  <input formControlName="br_number" checked="checked" type="radio" name="br_number" value="yes" id="red" style="margin: 0 5px 0 4%;">Yes 
                  <input formControlName="br_number" type="radio" name="br_number" value="no" id="blue" style="margin: 0 5px 4% 4%;">No
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>First Name</p>
                  <mat-form-field appearance="outline" readonly>
                    <!-- <mat-label>Candidate Name</mat-label> -->
                    <input matInput type="text" formControlName="first_name"/>
                    <mat-error
                    *ngIf="
                      leadForm.controls['first_name'].hasError(
                        'required'
                      )
                    "
                  >
                    This field is required!
                  </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Last Name</p>
                  <mat-form-field appearance="outline">
                    <!-- <mat-label>Email ID</mat-label> -->
                    <input matInput type="text" formControlName="last_name"/>
                    <mat-error
                    *ngIf="
                      leadForm.controls['last_name'].hasError(
                        'required'
                      )
                    "
                  >
                    This field is required!
                  </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                  <div class="form-group">
                    <p>Email ID</p>
                      <mat-form-field appearance="outline">
                        <!-- <mat-label>Mobile Number</mat-label> -->
                        <input matInput type="email" formControlName="email"/>
                        <mat-error
                    *ngIf="
                      leadForm.controls['email'].hasError(
                        'required'
                      )
                    "
                  >
                    This field is required!
                  </mat-error>
                  <mat-error
                                            *ngIf="leadForm.controls['email'].errors?.['pattern']">Please
                                            enter valid email</mat-error>
                      </mat-form-field>
                    </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Job Title</p>
                  <mat-form-field appearance="outline">
                    <!-- <mat-label>Job Title</mat-label> -->
                    <input matInput type="text" formControlName="job_title"/>
                    <mat-error
                    *ngIf="
                      leadForm.controls['job_title'].hasError(
                        'required'
                      )
                    "
                  >
                    This field is required!
                  </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Street Address</p>
                  <mat-form-field appearance="outline">
                    <!-- <mat-label>Job Role</mat-label> -->
                    <input matInput type="text" formControlName="street_address"/>
                    <mat-error
                    *ngIf="
                      leadForm.controls['street_address'].hasError(
                        'required'
                      )
                    "
                  >
                    This field is required!
                  </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                  <div class="form-group">
                    <p>Address Line 2</p>
                    <mat-form-field appearance="outline">
                      <!-- <mat-label>Application Date</mat-label> -->
                      <input matInput type="text" formControlName="address2"/>
                      <mat-error
                    *ngIf="
                      leadForm.controls['address2'].hasError(
                        'required'
                      )
                    "
                  >
                    This field is required!
                  </mat-error>
                    </mat-form-field>
                    </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Country&nbsp;<span class="form_required">*</span></p>
                  <mat-form-field appearance="outline" >
                    <!-- <mat-label>Candidate Name</mat-label> -->
                    <mat-select formControlName="country" (selectionChange)="getCountryID($event)">
                      <mat-option *ngFor="let item of countryList" [value]="item.countryss_id">{{
                        item.countryss_name }}</mat-option>
                      <!-- <mat-option value="India">India</mat-option>
                      <mat-option value="USA">USA</mat-option> -->
                    </mat-select>
                    <mat-error *ngIf="
                        leadForm.controls['country'].hasError('required')
                      ">
                      Required*
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>State&nbsp;<span class="form_required">*</span></p>
                  <mat-form-field appearance="outline" >
                    <!-- <mat-label>Candidate Name</mat-label> -->
                    <mat-select formControlName="state" (selectionChange)="getStateID($event)">
                      <mat-option *ngFor="let item of stateList" [value]="item.states_id">{{ item.states_name
                        }}</mat-option>
                      <!-- <mat-option value="Delhi">Delhi</mat-option>
                      <mat-option value="Maharastra">Maharastra</mat-option> -->
                    </mat-select>
                    <mat-error *ngIf="
                        leadForm.controls['state'].hasError('required')
                      ">
                      Required*
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>City&nbsp;<span class="form_required">*</span></p>
                  <mat-form-field appearance="outline" >
                    <!-- <mat-label>Candidate Name</mat-label> -->
                    <mat-select formControlName="city" >
                      <mat-option *ngFor="let item of cityList" [value]="item.city_id">{{ item.city_name
                        }}</mat-option>
                      <!-- <mat-option value="New Delhi">New Delhi</mat-option>
                      <mat-option value="Mumbai">Mumbai</mat-option> -->
                    </mat-select>
                    <mat-error *ngIf="leadForm.controls['city'].hasError('required')">
                      Required*
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Postal Code</p>
                  <mat-form-field appearance="outline" >
                    <input matInput type="text" formControlName="postal_code" />
                    <mat-error *ngIf="
                        leadForm.controls['postal_code'].hasError(
                          'pattern'
                        )
                      ">
                      Postal Code must be 5-6 digits..*
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Region</p>
                  <mat-form-field appearance="outline" >
                  <mat-select formControlName="region">
                      <mat-option *ngFor="let item of regionSList" [value]="item.new_region_id">{{
                        item.new_region_name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="
                        leadForm.controls['region'].hasError('required')
                      ">
                      Required*
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Regional Business Head</p>
                  <mat-form-field appearance="outline" >
                    <!-- <mat-label>Candidate Name</mat-label> -->
                    <mat-select formControlName="regional_bussiness_lead">
                      <mat-option *ngFor="let item of regionalbheadList"
                        [value]="item.new_regional_business_head_id">{{ item.first_name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="
                        leadForm.controls[
                          'regional_bussiness_lead'
                        ].hasError('required')
                      ">
                      Required*
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Global Managing Director</p>
                  <mat-form-field appearance="outline">
                    <!-- <mat-label>Department</mat-label> -->
                    <input
                      matInput
                      type="text"
                      formControlName="global_managing_director"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Global Manager Sales</p>
                  <mat-form-field appearance="outline" >
                   <mat-select formControlName="global_manager_sales">
                      <mat-option *ngFor="let item of globalMsalesList"
                        [value]="item.new_global_manager_sales_id">{{ item.first_name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="
                          leadForm.controls['global_manager_sales'].hasError(
                            'required'
                          )
                        ">
                      Required*
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Website URL</p>
                  <mat-form-field appearance="outline" readonly>
                    <!-- <mat-label>Candidate Name</mat-label> -->
                    <input
                      matInput
                      type="text"
                      formControlName="website_url"
                    />
                    <mat-error *ngIf="leadForm.controls['website_url'].hasError('required')">
                     Required*
                    </mat-error>
                    <mat-error *ngIf="leadForm.controls['website_url'].hasError('pattern')">
                      Enter a valid URL..
                     </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Phone Number</p>
                  <mat-form-field appearance="outline">
                    <!-- <mat-label>Department</mat-label> -->
                    <input matInput type="text" formControlName="phone_number"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Mobile Number</p>
                  <mat-form-field appearance="outline" readonly>
                    <!-- <mat-label>Candidate Name</mat-label> -->
                    <input matInput type="text" formControlName="mobile_number"/>
                    <mat-error
                    *ngIf="
                      leadForm.controls['mobile_number'].hasError(
                        'required'
                      )
                    "
                  >
                    This field is required!
                  </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                  
              </div>
            </div>

            <!-- <div class="mt-3">
              <button mat-raised-button (click)="submitForm()" color="primary" class="mx-3">
                Save
              </button>
            </div> -->
          </form>
        </div>
      </mat-card>
    </div>
  </section>

  <section class="job-nav">
    <div class="section">
      <mat-card>
        <div class="row form_head">
          <h3>Company Additional Details</h3>
        </div>
  
        <div class="form_basic">
          <form class="form_set" [formGroup]="leadForm">
            <div class="row">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Industry Sector</p>
                  <mat-form-field appearance="outline" readonly>
                    <!-- <mat-label>Candidate Name</mat-label> -->
                    <mat-select formControlName="industry_sector">
                      <mat-option
                        *ngFor="let item of industryList"
                        [value]="item.industry_sector_name"
                        >{{ item.industry_sector_name }}</mat-option
                      >
                    </mat-select>
                      <mat-error
                      *ngIf="
                        leadForm.controls['industry_sector'].hasError(
                          'required'
                        )
                      "
                    >
                      This field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Customer Category</p>
                  <mat-form-field appearance="outline" readonly>
                    <!-- <mat-label>Candidate Name</mat-label> -->
                      <mat-select formControlName="customer_category">
                        <mat-option value="Pvt Ltd">Pvt Ltd</mat-option>
                        <mat-option value="Public Ltd">Public Ltd</mat-option>
                      </mat-select>
                      <mat-error
                      *ngIf="
                        leadForm.controls['customer_category'].hasError(
                          'required'
                        )
                      "
                    >
                      This field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                  <div class="form-group">
                    <p>Employee Count</p>
                    <mat-form-field appearance="outline" readonly>
                      <input matInput type="number" formControlName="employee_count"/>
                      <mat-error
                      *ngIf="
                        leadForm.controls['employee_count'].hasError(
                          'required'
                        )
                      "
                    >
                      This field is required!
                    </mat-error>
                    </mat-form-field>
                    </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Customer Sales Executive</p>
                  <mat-form-field appearance="outline" readonly>
                    <input matInput type="text" formControlName="customer_sales_executive"/>
                    <mat-error
                      *ngIf="
                        leadForm.controls['customer_sales_executive'].hasError(
                          'required'
                        )
                      "
                    >
                      This field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Assign Opportunity to</p>
                  <mat-form-field appearance="outline" readonly>
                    <input matInput type="text" formControlName="assigned_to"/>
                    <mat-error
                    *ngIf="
                      leadForm.controls['assigned_to'].hasError(
                        'required'
                      )
                    "
                  >
                    This field is required!
                  </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Opportunity Type</p>
                  <mat-form-field appearance="outline" readonly>
                    <!-- <mat-label>Candidate Name</mat-label> -->
                      <mat-select formControlName="opportunity_type">
                        <mat-option value="Certification - New Audit RA">Certification - New Audit RA</mat-option>
                        <mat-option value="Non-Certified">Non-Certified</mat-option>
                      </mat-select>
                      <mat-error
                      *ngIf="
                        leadForm.controls['opportunity_type'].hasError(
                          'required'
                        )
                      "
                    >
                      This field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Opportunity Ref No</p>
                  <mat-form-field appearance="outline" readonly>
                    <input matInput type="number" formControlName="opportunity_ref"/>
                    <mat-error
                      *ngIf="
                        leadForm.controls['opportunity_ref'].hasError(
                          'required'
                        )
                      "
                    >
                      This field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Product Request</p>
                  <mat-form-field appearance="outline" readonly>
                    <mat-select #productselect multiple formControlName="product_request" required>
                      <div class="select-all">
                        <mat-checkbox
                          [(ngModel)]="allSelectedProduct"
                          [ngModelOptions]="{ standalone: true }"
                          (change)="toggleAllCodeSelect()"
                          >Select All</mat-checkbox
                        >
                      </div>
                      <mat-option
                      (click)="optionEaCode()"
                            *ngFor="let item of standardList"
                            [value]="item.product_master_name"
                            >{{ item.product_master_name }}</mat-option
                          >
                    </mat-select>
                    <mat-error
                      *ngIf="
                        leadForm.controls['product_request'].hasError('required')
                      "
                    >
                      This field is required!
                    </mat-error>
                </mat-form-field>
              </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>GST Applicable</p>
                  <mat-form-field appearance="outline" readonly>
                    <input matInput type="text" formControlName="gst_applicable"/>
                    <mat-error
                      *ngIf="
                        leadForm.controls['gst_applicable'].hasError(
                          'required'
                        )
                      "
                    >
                      This field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>GST Number</p>
                  <mat-form-field appearance="outline" readonly>
                    <input matInput type="text" formControlName="gst_number"/>
                    <mat-error
                      *ngIf="
                        leadForm.controls['gst_number'].hasError(
                          'required'
                        )
                      "
                    >
                      This field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </section>

  <section class="job-nav">
    <div class="section">
      <mat-card>
        <div class="row form_head">
          <h3>Additional Site Details</h3>
        </div>
  
        <div class="form_basic">            
          <form class="form_set" [formGroup]="leadForm">
            <div class="row">
              <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="form-group">
                  <p>Billing Site</p>
                  <input formControlName="billing_site" type="checkbox" id="billing_site" class="bill-name" name="billing_site" value="Self">
                  <label for="billing_site" class="bill-site"> {{this.singleLeadData?.br_number}}/ {{this.singleLeadData?.associated_company + " - " + this.singleLeadData?.customer_category}}/{{this.singleLeadData?.state}}/{{this.singleLeadData?.region}}</label><br>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="form-group">
                  <p>Stage</p>
                  <mat-form-field appearance="outline" >
                   <input matInput type="text" formControlName="stage"/>
                    <mat-error
                    *ngIf="leadForm.controls['stage'].hasError(
                        'required'
                      )
                    "
                  >
                    This field is required!
                  </mat-error>
                  </mat-form-field>
                </div>      
             </div>
             <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="form-group">
               <p>No. of Mandays</p>
               <mat-form-field appearance="outline" >
                <input matInput type="text" formControlName="noOfMandays">
                 <mat-error
                 *ngIf="leadForm.controls['noOfMandays'].hasError(
                     'required'
                   )
                 "
               >
                 This field is required!
               </mat-error>
               </mat-form-field>
             </div>
            </div>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </section>

  <section class="job-nav">
    <div class="section">
      <mat-card>
        <div class="row form_head">
          <h3>Documents Required</h3>
        </div>
  
        <div class="form_basic">
            
          <form class="form_set" [formGroup]="leadForm">
            <div class="row">
              <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <div class="form-group">
                  <p class="file-tag">Purchase Order</p>
                </div>
              </div>
              <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <div class="form-group">
                  <input formControlName="contact_review_form" id="file" type="file" multiple class="form-control"
                      (change)="fileInputChange($event)">
                     
                </div>
              </div>
              <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <div class="form-group">
                  <button class="view-doc" (click)="viewDocReview()">View</button>
                  <button class="view-doc down" (click)="downloadContact($event)">Download</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </section>

  <section class="job-nav">
    <div class="section">
      <mat-card>
        <div class="row form_head">
          <h3>Quotation Details</h3>
        </div>
  
        <div class="form_basic">
          <form class="form_set" [formGroup]="leadForm">
            <div class="row">
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Agreed Percentage</p>
                  <mat-form-field appearance="outline" readonly>
                    <!-- <mat-label>Candidate Name</mat-label> -->
                      <mat-select formControlName="agreed_percentage">
                        <mat-option value="50">50%</mat-option>
                        <mat-option value="75">75%</mat-option>
                        <mat-option value="100">100%</mat-option>
                      </mat-select>
                      <mat-error
                      *ngIf="
                        leadForm.controls['agreed_percentage'].hasError(
                          'required'
                        )
                      "
                    >
                      This field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Mutual-Agreed Percentage</p>
                  <mat-form-field appearance="outline" readonly>
                    <input matInput type="text" formControlName="mutual_agreed_percentage"/>
                    <mat-error
                      *ngIf="
                        leadForm.controls['mutual_agreed_percentage'].hasError(
                          'required'
                        )
                      "
                    >
                      This field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12"></div>
              <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <p>Remarks</p>
                  <mat-form-field appearance="outline" readonly>
                    <input matInput type="text" formControlName="percentage_remarks"/>
                    <mat-error
                    *ngIf="
                      leadForm.controls['percentage_remarks'].hasError(
                        'required'
                      )
                    "
                  >
                    This field is required!
                  </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
        </div>
      </mat-card>
      
    </div>
  </section>
  
  <div class="upload-btn">
    <button class="cancel-btn">Cancel</button>
    <button class="iploadBtn" (click)="submitQAForm()">Book Order</button>
  </div>
  
  </div>
  </div>
</mat-card>
