.row {
    padding: 16px 0 0 0;
    // justify-content: space-between;
    margin: 0;

.service-box {
    width: 120px;
    height: 120px;
    margin: 0 16px 40px 64px;
    cursor: pointer;
    

    img {
        width: 100%;
    }

    .card-title {
        text-align: center;
        margin-top: 8px;
        color: #000;
    }
}
}