
<div class="row" [formGroup]="expenceForm">
    <div class="col-xxl-8 col-lg-8 col-md-8 col-sm-8 col-12">
    </div>
  </div>
  <div class="section">
      <mat-card>
          <div class="div"  >
              <div class="form_head">
                <h3>Rejected Invoice Reqeust</h3>
              </div>
              <div class="ag_grid">
                <ag-grid-angular class="ag-theme-alpine" id="myGrid" style=" width:100%; height:400px;" [rowData]="rowData"
                  [columnDefs]="columnDefs" [pagination]=true [paginationPageSize]=10 [rowData]="rowDataApproved"
                  (gridReady)="onGridReady($event)" (cellClicked)='onCellClicked($event)' [rowClass]="rowClass">
                </ag-grid-angular>
              </div>
            </div>
      </mat-card>
  </div>
  