<div class="form_head">
    <h3>Notification Form Planning Team to Post Audit Team</h3>
</div>

<div class="form_basic">

    <form class="form_set" [formGroup]="form">
        <div class="row">

            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Certificate Id</mat-label>
                        <input matInput type="text" formControlName="certificate_id" />
                        <mat-error *ngIf="form.controls['certificate_id'].hasError('required')">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Business Relation Id</mat-label>
                        <input matInput type="text" formControlName="BR_id" />
                        <mat-error *ngIf="form.controls['BR_id'].hasError('required')">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Standard Id</mat-label>
                        <input matInput type="text" formControlName="Stander_id" />
                        <mat-error *ngIf="form.controls['Stander_id'].hasError('required')">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Other Standard Id</mat-label>
                        <input matInput type="text" formControlName="other_standard_program_assement" />
                        <mat-error *ngIf="form.controls['other_standard_program_assement'].hasError('required')">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Certificate Valid Until</mat-label>
                        <input matInput [matDatepicker]="dp" (click)="dp.open()" formControlName="Cer_valid_date" />
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                        <mat-error *ngIf="form.controls['Cer_valid_date'].hasError('required')">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>RA/TRA Date</mat-label>
                        <input matInput [matDatepicker]="dp1" (click)="dp1.open()" formControlName="RA_TRA_date" />
                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                        <mat-datepicker #dp1></mat-datepicker>
                        <mat-error *ngIf="form.controls['RA_TRA_date'].hasError('required')">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Notification Date CIF Collection</mat-label>
                        <input matInput [matDatepicker]="dp2" (click)="dp2.open()" formControlName="Notification_CIF" />
                        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                        <mat-datepicker #dp2></mat-datepicker>
                        <mat-error *ngIf="form.controls['Notification_CIF'].hasError('required')">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>


            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Industry Code Id</mat-label>
                        <input matInput type="text" formControlName="industry_code" />
                        <mat-error *ngIf="form.controls['industry_code'].hasError('required')">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Sort Name</mat-label>
                        <input matInput type="text" formControlName="sort_name" />
                        <mat-error *ngIf="form.controls['sort_name'].hasError('required')">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>E-Mail ID</mat-label>
                        <input matInput type="text" formControlName="email_id" />
                        <mat-error *ngIf="form.controls['email_id'].hasError('required')">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Reason</mat-label>
                        <mat-select formControlName="reason">
                            <mat-option  value="dueDate">Due Date</mat-option>
                            <mat-option value="mojorNC">Major NC</mat-option>
                            <mat-option value="customerComplaints">Customer Complaints</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Comments(As per CSP Updated)</mat-label>
                        <input matInput type="text" formControlName="commentAsPerCSP" />
                        <mat-error *ngIf="form.controls['commentAsPerCSP'].hasError('required')">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">  
            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="form-group">
                    <div  *ngIf="type=='widthdrwal'">
                        <br>
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>Comment</mat-label>
                        <input matInput type="text" formControlName="comments" />
                        <mat-error *ngIf="form.controls['comments'].hasError('required')">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div align="end">
            <button mat-raised-button color="primary" class="mx-3" (click)="productSave($event)"
               >Send to Post Audit</button>
               <button mat-raised-button mat-dialog-close color="warn"
            (click)="goBack()">Cancel</button>
        </div>
    </form>
</div>