.add_mat
{
    text-align: center;
    margin: 10px;
}
.add_mat i{
    background-color: #063178;
    border: 1px solid #063178;
    border-radius: 45%;
    padding:6px;
    color: #fff; 
}
.selctedImg {
    position: absolute;
    height: 31px;
    width: 32px;
    top: -34px;
    right: 5px;
    filter: drop-shadow(0px 0px 1px #000);
    border-radius: 5px !important;
    cursor: pointer;
}
.readonly-wrapper {
    pointer-events: none;
}
.set_icon{position: relative;}

.imgEmp {
    width: 41px;
    height: 31px;
    position: relative;
    top: -35px;
    left: 84%;
    border-radius: 5px;
    cursor: pointer;
}