<div class="section">
    <div class="row form_head">
      <h3>Price Level Table</h3>
    </div>
    
    <div class="ag_grid">
      <ag-grid-angular [rowClass]="rowClass" class="ag-theme-alpine" style="width:100%; height:426px;"
        [rowData]="rowData" [columnDefs]="columnDefs" [pagination]=true [paginationPageSize]=9
        (cellValueChanged)="onCellValueChanged($event)"
        (gridReady)="onGridReady($event)" [rowClass]="rowClass">
      </ag-grid-angular>
      <div class="add_mat">
        <i class="fa fa-plus" aria-hidden="true" (click)="onFactoryButtonClick($event)" style="cursor: pointer;"></i>
      </div>
    </div>
  </div>