#page {
    width: 100%;
    height: auto;
    overflow:hidden;
    padding: 10px;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(12, 143, 152);
  }
  .containerPDF{
    width: 70%;
    margin-left:auto;
    margin-right:auto;
  }
  