.edd-del{
    mat-icon{
        cursor: pointer;
        // position: relative;
        margin-top: 6px;
        color: #063178;
    }
    :nth-child(2){
        margin: 0 16px;
    } 
    :nth-child(4){
        margin: 0 114px;
    } 
}

// .edd-del{
//     mat-slide-toggle{
//         cursor: pointer;
//         position: relative;
//         margin-top: 6px;
        
//     }:nth-child(2){
//         margin: 0 16px;
//     } 
// }
 .edd-del button{
    width: 102px;
    /* height: 48px; */
    /* margin: 1px 0; */
    position: absolute;
    height: 32px;
    padding: 0;
    margin-left: 8px;
}
.mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #d81b60;
    --mdc-switch-selected-handle-color: #fcfcfc;
    --mdc-switch-selected-hover-state-layer-color: #d81b60;
    --mdc-switch-selected-pressed-state-layer-color: #d81b60;
    --mdc-switch-selected-focus-handle-color: #fcfcfc;
    --mdc-switch-selected-hover-handle-color: #fcfcfc;
    --mdc-switch-selected-pressed-handle-color: #fcfcfc;
    --mdc-switch-selected-focus-track-color: #063178;
    --mdc-switch-selected-hover-track-color: #063178;
    --mdc-switch-selected-pressed-track-color: #063178;
    --mdc-switch-selected-track-color: #063178;
}
.b1{
    margin-left: 9px;
}
  ::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: black;
  }


