<!-- <section>
  <mat-card>
      <div class="text-center mt-2 text-primary">
          <h3 class="fw-bold">Masters</h3>
      </div> -->
      <!-- <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12 ms-2">
          <div class="form-group">
              <mat-form-field appearance="outline">
                  <mat-label>Master Module Filter</mat-label>
                  <mat-select formControlName="courier_contain">
                      <mat-option value="A">All</mat-option>
                      <mat-option value="A">S&M</mat-option>
                      <mat-option value="AA">Expense</mat-option>
                      <mat-option value="AAA">HRMS</mat-option>
                      <mat-option value="AAAA">Procurement</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div> -->
      <!-- <div class="row" style="justify-content: end">
        <div class="col-md-4">
          <div class="employee_2">
              <input type="text" class="form-control" id="filter-text-box" (input)="filterMasterData($event)"
                  placeholder="Search">
          </div>
        </div>
    </div>

<div class="row">
  <ng-container *ngFor="let module of filteredmodules">
    <div class="service-box">
      <div class="service-img" [routerLink]="module.menuLink" (click)="goInToPage(module)">
        <img [src]="module.menuIcon" alt="" />
      </div>
      <div class="card-title">
        <p>{{ module.menuName }}</p>
      </div>
    </div>
  </ng-container> -->
  
  <!-- <div class="service-box">
    <div class="service-img" routerLink="language-master">
      <img src="assets/icons/icon_DQS/language.png" alt="" />
    </div>
    <div class="card-title">
      <p>Language Master</p>
    </div>
  </div>


<div class="service-box">
  <div class="service-img" routerLink="amc-discription">
    <img src="assets/icons/icon_DQS/amc-des.png" alt="" />
  </div>
  <div class="card-title">
    <p>Amc Description</p>
  </div>
</div>

<div class="service-box">
  <div class="service-img" routerLink="employe-doc">
    <img src="assets/icons/icon_DQS/amc-des.png" alt="" />
  </div>
  <div class="card-title">
    <p>Employee Doc Sign</p>
  </div>
</div>
<div class="service-box">
  <div class="service-img" routerLink="my-expense-role">
    <img src="assets/icons/icon_DQS/amc-des.png" alt="" />
  </div>
  <div class="card-title">
    <p>My Expense Role</p>
  </div>
</div> -->
<!-- </div>
</mat-card>
</section> -->

<div class="sidebar-page admin_set">

  <div class="hideShowsidebar">
      <app-sidebar-menu></app-sidebar-menu>
  </div>

  <div class="router-page right_side_data" [ngClass]="{'router':clicked}">
      <div class="padding_right_admin">
          <div class="content_right">
      <mat-card class="m-card setScrollOnContent">
      <router-outlet></router-outlet>
  </mat-card>
  </div>
  </div>
  </div>

</div>