<div class="heading_top">
  <div class="page-title">
    <h1>CRM</h1>
    <p>Lead Summary <i class="fa fa-angle-right" aria-hidden="true" style="color:#063178">
      </i><span> Lead Summary List </span></p>
  </div>
  <div class="add_button">
    <!-- <button type="button" routerLink="employee-create" (click)='openAddModal()' >Add New Field</button> -->
    <!-- <button class="backBtn" routerLink="../"><i class="fa fa-arrow-circle-left"></i> Back</button> -->
  </div>
</div>



<div class="right_data_all">

  <form [formGroup]="leadSummaryForm" class="mt-2">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3 col-12">
        <mat-form-field appearance="outline">
          <mat-label>From Date </mat-label>
          <input matInput [matDatepicker]="dp" (click)="dp.open()" formControlName="from_date" [max]="maxDate"
            (dateChange)="fromDate($event)" readonly />
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
          <mat-error *ngIf="leadSummaryForm.controls['from_date'].hasError('required')">
            This field is required!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-3 col-md-3 col-lg-3 col-12">
        <mat-form-field appearance="outline">
          <mat-label>To Date</mat-label>
          <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="to_date"
            (focusout)="todate ? calculateDiff() : calculateDiff()" (dateChange)="calculateDiff()" [max]="maxDate"
            [min]="FromDate || minDate" (dateChange)="ToDate($event)" readonly>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="leadSummaryForm.controls['to_date'].hasError('required')">
            This field is required!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-3 col-md-3 col-lg-3 col-12">
        <div class="d-flex">
          <mat-form-field appearance="outline">
            <mat-label>Employee Name</mat-label>
            <mat-select formControlName="user_id" (selectionChange)="getLeadSummaryData()">
              <mat-option *ngFor=" let item of employeeList" [value]="item?.employee_id">
                {{item?.first_name + ' ' + item?.last_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-12">
        <div class="d-flex">
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" (selectionChange)="getLeadSummaryData()">
              <mat-option *ngFor=" let item of statusList" [value]="item?.field_value">
                {{item?.field_value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="selectedLeadList?.length">
      <div class="col-sm-3 col-md-3 col-lg-3 col-12">
        <div class="d-flex">
          <mat-form-field appearance="outline">
            <mat-label>Assign to</mat-label>
            <mat-select formControlName="assign_id">
              <mat-option *ngFor=" let item of employeeList" [value]="item?.employee_id">
                {{item?.first_name + ' ' + item?.last_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-9">
        <button mat-raised-button color="primary" class="mx-3 mb-2" (click)="assignLead()">Assign</button>
      </div>
    </div>
  </form>
  <div class="employ_sube py-2">
    <div class="">
      <div class="example-header">
        <select (change)="onPageSizeChanged()" id="page-size">
          <option value="10" selected="">10</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
        <!-- <span class="pag_size">Per Page</span> -->
      </div>
    </div>
    <div class="">
      <div class="employee_2" align="end">

        <input type="text" class="form-control" id="filter-text-box" placeholder="Search"
          (input)="onFilterTextBoxChanged()">

      </div>
    </div>
  </div>



  <div class="ag_grid">
    <ag-grid-angular [rowClass]="rowClass" class="ag-theme-alpine" style=" width:100%; height:426px;"
      [rowData]="rowData" [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="9"
      (gridReady)="onGridReady($event)" (cellClicked)='onCellClicked($event)' [gridOptions]="gridOptions"
      [rowSelection]="gridOptions.rowSelection" (selectionChanged)="onSelectionChanged($event)">
    </ag-grid-angular>
  </div>
</div>
<div>
</div>