<!-- <div class="section">

    <div class="main">
        <h3>Company Details</h3>
        <div class="in-box">
            <div class="box1">
                <p>Business Relationship No</p>
                <p>Company Name</p>
                <p>City</p>
                <p>State</p>
            </div>

            <div class="box2">
                <p>50254441</p>
                <p>VARROC ENGINEERING LTD.</p>
                <p>PUNE</p>
                <p>Maharasthra</p>
            </div>
        </div>
    </div>

    <div class="main left">
        <h3>Product Details</h3>
        <div class="in-box">
            <div class="box1">
                <p>product Name</p>
                <p>Stage Name</p>
                <p>Audit Start</p>
                <p>Audit End Date</p>
                <p>Total Audit Mondays</p>
                <p>Lead Auditor George</p>
            </div>

            <div class="box2">
                <p>ANSI/ESD S20.20-2014</p>
                <p>TRA</p>
                <p>27/03/2022</p>
                <p>28/03/2022</p>
                <p>2</p>
                <p>John</p>
            </div>
        </div>
    </div>
    
</div> -->