.add_mat
{
    text-align: center;
    margin: 10px;
}
.add_mat i{
    background-color: #063178;
    border: 1px solid #063178;
    border-radius: 45%;
    padding:6px;
    color: #fff; 
}
.heading {
    cursor: pointer;
    color: blue;
  }

  .container {
    height: 1000px; /* Adjust the height as needed */
    overflow-y: scroll; /* Add scrollbars if the content overflows */
  }
  
  .section {
    height: 800px; /* Adjust the height as needed */
  }
  