.msater-nav {
    a {
        margin: 0 24px 0 0;
    }
    :nth-child(1) {
        color: black;
      }
      :nth-child(2) {
        color: black;
      }
    :nth-child(3) {
        color: #0d6efd;
      }
    mat-icon {
        position: absolute;
        margin-top: -4px;
    }
}