
.router{
    // width: 94% ;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}
.m-card{
padding: 16px;
}
// .router-page{
//     overflow: auto;
// }
.matStcky{
    position: fixed;
    top: 0;
    z-index: 999;
}

::ng-deep .mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
    background-color: #eff2fd !important;
}

::ng-deep .mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #376fca !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-moz-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #cbc8c8;
    border-radius: 10px;
  }