table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    border: 1px solid #858585;
    text-align: center;
    padding: 8px;
  }

  td{
    border: 1px solid #858585; 
    padding: 8px;
  }

  button{
    margin-left: 100%;
    margin-top: 8px;
  }