<h3 mat-dialog-title class="popHead">Branch Record</h3>
<mat-dialog-content class="mat-typography">
  <div class="cotain">
    <div class="emp_key">
      <p>S.NO. :</p>
      <p>Branch :</p>
      <p>Status :</p>
    </div>
    <div class="emp_value">
      <p>{{ singleBranch?.branch_id }}</p>
      <p>{{ singleBranch?.branch_name }}</p>
      <p>{{ singleBranch?.status }}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close mat-raised-button color="primary">
    Close
  </button>
</mat-dialog-actions>
