.navigate{
    width : 500px;
    height : 40px;
}
.bays-input{
    width: 292px;
    height: 36px;
    margin-top: -10px;
    margin-left: -7px;
}
.bays-input:disabled {
    color: #333; /* Dark grey color */
}
.bays-input:hover {
    color: white;
}
