.router {
    // width: 94% ;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    // width: 80%;
    margin: 0 auto;
}

// .m-card{
// padding: 16px;
// }
// .router-page{
//     overflow: auto;
// }

// .setScrollOnContent {
//     height: 82.5vh;
//     overflow-x: hidden;
//     overflow-y: scroll;
// }

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-moz-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #cbc8c8;
    border-radius: 10px;
  }