
<div class="sidebar-page admin_set">

    <div class="hideShowsidebar">
        <app-sidebar-menu></app-sidebar-menu>
    </div>

    <div class="router-page right_side_data" [ngClass]="{'sidebar':clicked}">
        <div class="padding_right_admin">
            <div class="content_right">
     
        <router-outlet></router-outlet>
   
    </div>
    </div>
    </div>

</div>


<!-- 
<div class="admin_set">

    <div class="hideShowsidebar">
        <app-sidebar-menu></app-sidebar-menu>
    </div>

    <div class="router-page right_side_data"  [ngClass]="{'sidebar':clicked}">
        <mat-card class="m-card setScrollOnContent">
        <router-outlet></router-outlet>
    </mat-card>
    </div>

</div> -->





