<div class="row">
  <div class="service-box" routerLink="planning-team-susp">
    <div class="service-img">
      <img src="assets//icons/icon_DQS/strategy.png" alt="" />
    </div>
    <div class="card-title">
      <p>Planning Team  (Susp. List)</p>
    </div>
  </div>

  <ng-container *ngFor="let module of subModules">
    <div class="service-box">
      <div class="service-img" [routerLink]="module.menuLink" (click)="goInToPage(module)">
        <img [src]="module.menuIcon" alt="" />
      </div>
      <div class="card-title">
        <p>{{module.menuName}}</p>
      </div>
    </div>
  </ng-container>
 


  <!-- <div class="service-box" routerLink="advance-planning">
      <div class="service-img">
        <img src="assets//icons/icon_DQS/strategy.png" alt="" />
      </div>
      <div class="card-title">
        <p>Advance planning</p>
      </div>
    </div>

    <div class="service-box" routerLink="suspection">
      <div class="service-img">
        <img src="assets//icons/icon_DQS/sus.png" alt="" />
      </div>
      <div class="card-title">
        <p>Suspension</p>
      </div>
    </div>

    <div class="service-box" routerLink="withdrawal">
      <div class="service-img" >
        <img src="assets//icons/icon_DQS/inbox.png" alt="" />
      </div>
      <div class="card-title">
        <p>Withdrawal</p>
      </div>
    </div>
    <div class="service-box" routerLink="withdrawal-approval-rbh">
      <div class="service-img" >
        <img src="assets//icons/icon_DQS/rejected.png" alt="" />
      </div>
      <div class="card-title">
        <p>Withdrawal Approval/Reject</p>
      </div>
    </div>
</div>
    <div class="service-box" routerLink="withdrawal">
      <div class="service-img" >
        <img src="assets//icons/icon_DQS/atm.png" alt="" />
      </div>
      <div class="card-title">
        <p>Withdrawal</p>
      </div>
    </div> -->
</div>