.main {

    // width: 1071.4px;

    .employee{
        color: #063178;
        font-weight: 400;
        font-size: 16px;
    }
    .main-table{
        
         border: 1px solid rgb(168, 168, 168);
          border-radius: 4px;
          table {
            width: 100%;
            padding: 32px;

            th {
                font-weight: 900;
                font-size: 11px;
                border-bottom: 1px solid #dadada;
                background-color: rgb(119, 119, 119);
                color: #fff;
                font-weight: 400;
            }
            td {
                font-weight: 900;
                font-size: 14px;
                border: 1px solid #dadada;
                font-weight: 400;
                font-size: 10px;
                a{
                    margin: 0 8px 0 0;
                    color: #063178;
                    cursor: pointer;
                }
            }
            
    
        }
        .add-leave{
            background: #063178;
            color: #fff;
            h3{
                padding: 8px 12px;
                font-weight: 300;
            }
        }
        .paddin-box{
            padding: 16px 32px 32px 32px;
        }
    }
    

    .msater-nav {
        a {
            margin: 0 24px 0 0;
        }

        :first-child {
            color:black;
        }

        :last-child {
            color: #063178;
        }

        mat-icon {
            position: absolute;
            margin-top: -4px;
        }
    }

    .apply-btn {
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            background: #063178;
            color: #fff;
            margin: 8px 0;
            padding: 4px 16px;
            border-radius: 4px;
            font-weight: 300;
            font-size: 12px;
        }

        mat-icon {
            margin: 0;
        }

    }
    .serch-pegination{
        display: flex;
        width: 32%;
        margin: 0 4%;
        float: right;
        justify-content: space-between;
        .pegination{
            width: 40%;
        }
    }

}
:host::ng-deep.mat-mdc-paginator-container {
    display: -webkit-inline-box;
}
:host::ng-deep.mat-sort-header-content {
    text-align: initial;
}
:host::ng-deep.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0 10px 0 10px;
}
.job-nav {
    padding: 4% 2%;
}
button.mx-3.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-primary.mat-mdc-button-base {
    float: right;
    margin: 0% 5% 4%;
    font-size: 11px;
}
button.iploadBtn {
    float: right;
    margin: 2% 5%;
    color: #fff;
    background: #212a5e;
    padding: 10px 30px;
    border-radius: 5px;
}
:host::ng-deep.mat-mdc-text-field-wrapper {
    width: 100%;
    // box-shadow: 1px 1px 4px 1px grey;
    border-radius: 5px;
}
.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    /* font-size: 16px; */
    display: none !important;
}

form.radio-check.ng-untouched.ng-pristine.ng-valid {
    margin: 2%;
}
input.drop-style {
    width: 100%;
    height: 42px;
    border-radius: 4px;
    border: 1px solid gray;
}
mat-icon.drop-icon {
    float: right;
    position: absolute;
    margin: 9px -30px;
    color: gray;
    z-index: 1;
}
.form_basic {
    padding: 20px;
}


.cancel-btn {
    float: right;
    background: gray;
    margin: 2% 2% 2% 0;
    border: unset;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    float: right;
    margin: 2% 5%;
    background-color: #212a5e;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: #4053c0;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.updatetitle{
    text-align: center;
    color: #063178;
    font-size: 18px;
    font-weight: 450;
}
label.bill-site {
    margin: 10px;
}
span.form_required {
    color: red;
    font-size: 20px;
}
span.form_required.ng-star-inserted {
    font-size: 13px;
}
.document_file{
    padding: 12px 0;
}
.readonly-wrapper {
    pointer-events: none;
}

.separator{
    display:flex;
    align-items: center;
  }
  
  .separator .line{
    height: 3px;
    flex: 1;
    background-color: #b0b0af;
  }
  
  .separator h2{
    padding: 0 2rem;
  }
  .mat-calendar-body-cell.selected
{
  background-color:rgb(143, 246, 203)!important;
  border-radius: 50%
}
.drop-calendar
{
  width:30rem
}
.calendar{
    padding-top: 29px;
}


  