  <div class="row">
  <ng-container *ngFor="let module of subModules">
    <div class="service-box">
      <div class="service-img" [routerLink]="module.menuLink" (click)="goInToPage(module)">
        <img [src]="module.menuIcon" alt="" />
      </div>
      <div class="card-title">
        <p>{{module.menuName}}</p>
      </div>
    </div>
  </ng-container>
  
  <!-- <div class="service-box" routerLink="advance_payment">
    <div class="service-img">
      <img src="assets//icons/icon_DQS/credit-card.png" alt="" />
    </div>
    <div class="card-title"> 
      <p>Advance Payment</p>
    </div>
  </div> -->

    <!-- <div class="service-box" routerLink="achievement">
      <div class="service-img">
        <img src="assets//icons/icon_DQS/achv12.png" alt="" />
      </div>
      <div class="card-title"> 
        <p>Achievement</p>
      </div>
    </div>

    <div class="service-box">
      <div class="service-img" routerLink="announcement-list">
        <img src="assets//icons/icon_DQS/ann.png" alt="" />
      </div>
      <div class="card-title">
        <p>Internal Announcement</p>
      </div>
    </div>

    <div class="service-box">
      <div class="service-img" routerLink="employee-probation">
        <img src="assets//icons/icon_DQS/12345.png" alt="" />
      </div>
      <div class="card-title">
        <p>Employee Probation</p>
      </div>
    </div>

    <div class="service-box" routerLink="pay-slip">
      <div class="service-img">
        <img src="assets//icons/icon_DQS/Pay-Slip.png" alt="" />
      </div>
      <div class="card-title">
        <p>Pay Slip</p>
      </div>
    </div>

    <div class="service-box" routerLink="calendar">
      <div class="service-img">
        <img src="assets//icons/icon_DQS/Attendance.png" alt="" />
      </div>
      <div class="card-title">
        <p>Attendance Calendar</p>
      </div>
    </div>

    <div class="service-box">
      <div class="service-img" routerLink="grievance">
        <img src="assets//icons/icon_DQS/ghri.png" alt="" />
      </div>
      <div class="card-title">
        <p>Grievance</p>
      </div>
    </div>

    <div class="service-box" routerLink="leave-apply">
      <div class="service-img">
        <img src="assets//icons/icon_DQS/leave1.png" alt="" />
      </div>
      <div class="card-title">
        <p>Leave Apply</p>
      </div>
    </div>

    <div class="service-box">
      <div class="service-img" routerLink="help-disk">
        <img src="assets//icons/icon_DQS/help.png" alt="" />
      </div>
      <div class="card-title">
        <p>Help Desk</p>
      </div>
    </div>

    <div class="service-box">
      <div class="service-img" routerLink="resignation">
        <img src="assets//icons/icon_DQS/Apply-Resignation.png" alt="" />
      </div>
      <div class="card-title">
        <p>Apply Resignation</p>
      </div>
    </div>
    <div class="service-box" routerLink="complaint-list">
      <div class="service-img">
        <img src="assets//icons/icon_DQS/comp.png" alt="" />
      </div>
      <div class="card-title">
        <p>Complaint</p>
      </div>
    </div>
    <div class="service-box" routerLink="timesheet-list">
      <div class="service-img">
        <img src="assets//icons/icon_DQS/time-sheet.png" alt="" />
      </div>
      <div class="card-title">
        <p>Timesheet</p>
      </div>
    </div>
    <div class="service-box" routerLink="open-house-training">
      <div class="service-img">
        <img src="assets//icons/icon_DQS/solar-house.png" alt="" />
      </div>
      <div class="card-title">
        <p>Open House Training</p>
      </div>
    </div> -->
  </div>
