<div class="loginpage">
  
    <div class="loginbody">
      
      <div class="container-fluid">
        <div class="row row_dqs">
          <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="dqs_log">
              <img src="../../../assets/icons/DQS_logo.png">
            </div>
          </div>
          <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="msater-nav">
             <h1><b>InterCompany - Office Request Formsdsdsd</b></h1>
            </div>
          </div>
          <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
            <div class="img_dqs">
              <img src="../../../assets/icons/icon_DQS/DQS_Login.png">
            </div>
          </div>
           
        </div>
        <div class="row">
          <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12"></div>
            <div class="col-xxl-8 col-lg-8 col-md-8 col-sm-8 col-12">
              <div class="section">
                <div class="main">
                  <h3><img src="../../../assets//icons/thank_you.png" style="width: 100%; height: 400px;"> <br> <b> Click here to </b> <a href="master">Login</a></h3>
                </div>
              </div>
            </div>
          <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12"></div>
        </div>
    </div>
    </div>
</div>