// .section{
//     margin: 8px;
// }
.mat-mdc-raised-button.mat-primary {
    background-color: #f7a454 !important;
}

.back{
    cursor: pointer;
    background: #063178;
    color: #fff;
    padding: 4px 8px;
    margin-bottom: 8px;
    display: inline-block;
    border-radius: 4px;
}
.ag_grid{
    margin-top: 8px;
}
.tab_menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.tab_menu li button {
    background-color: #ebebeb;
    font-size: 12px;
    font-weight: 400;
    color: #55719f;
}

.active {
    color: white !important;
    margin: 12px;
    border: 1px solid #063178 !important;
    padding: 10px 16px;
    border-radius: 4px;
    background-color: #063178 !important;
    font-size: 10px;
}

.tab_menu a {
    text-decoration: none;
    color: #063178;
    margin: 12px;
    border: 1px solid #063178;
    padding: 6px 16px;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
    font-size: 10px;

}

.tab_menu a {
    text-decoration: none;
    color: #063178;
    margin: 12px;
    border: 1px solid #063178;
    padding: 6px 16px;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
    font-size: 10px;

}

.tab_menu a:hover {
    color: #fff;
    margin: 12px;
    border: 1px solid #063178;
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 10px;

    background-color: #063178;
}

.tab_menu a:hover {
    color: #fff;
    margin: 12px;
    border: 1px solid #063178;
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 10px;

    background-color: #063178;
}

//list and create form Header css
.sub_head {
    width: 100%;
    background-color: #063178;
    color: white;
    font-size: 23px;
    padding: 14px 0px 8px 19px;
    margin: 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

mat-form-field {
    font-size: 14px;
    width: 100%;
}

.form_set {
    padding: 20px;
}

//FORMS SUB-HEAD AND MAT-CARD CSS
mat-card {
    width: 100%;
    // padding: 20px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 25px #b0bac93d;
    border: 1px solid #2e5bff14;
    border-radius: 15px;

}

// section {
//     padding: 8px 0px;
// }

.form_head {
    background-color: #f7a454;
    color: white;
    padding: 8px;
    margin: 0px !important;
    border-radius: 8px 8px 0 0;

    h3 {
        margin: 0;
        font-weight: 500;
    }
}

.mat-mdc-raised-button {
    font-weight: 100 !important;
}

.head p {
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    color: #063178;
}
mat-label,label{
    font-size: 12px;
    // color: #063178;
}


.ag-theme-alpine {
    --ag-header-height: 45px;
    --ag-header-foreground-color: white;
    --ag-header-background-color: #f6821f !important;
    // box-shadow: 0 0 7px 0px #bfb8b8;
    --ag-header-cell-hover-background-color: #f6821f;
    --ag-header-cell-moving-background-color: #f6821f;
    --ag-borders: solid 1px;
    --ag-border-color: rgb(209, 209, 209);
    --ag-borders-row: solid 1px;
    --ag-row-border-color: rgb(209, 209, 209);

    --ag-range-selection-border-color: #063178;
    --ag-range-selection-border-style: dashed;


    --ag-data-color: var(--ag-foreground-color);
    --ag-grid-size: 5.3px;
}

.ag-theme-alpine .ag-header {
    font-family: sans-serif;
    font-weight: normal;
}

.ag-theme-alpine .ag-header-group-cell {
    font-weight: normal;
    font-size: 15px;
}

.ag-theme-alpine .ag-header-cell {
    // font-weight: bold;
    font-size: 12px;
    font-weight: normal;
}

.rowClass:nth-child(2n+1):hover {
    // background-color: rgb(8, 23, 137);
    color: black; 

}

.rowClass:hover .racks-input { 
    color: white; 
} 

.rowClass:hover .bays-input { 
    color: white; 
} 

.rowClass:hover {
    background-color: #f7a454;
    color: #fff;
    cursor: pointer;
}

.rowClass:nth-child(2n+1) {
    background-color: #0838d910;
}

.mainHead {
    width: 100% !important;
    display: flex !important;
    flex-flow: row !important;
    justify-content: space-between;
}

.popHead {
    background-color: #0b3b87e7 !important;
    color: #fff !important;
}

// .mdc-dialog__container {
//     width: 500px;
// } /// this is hide 1

//Angular meterial Outline Form
.mat-mdc-text-field-wrapper {
    height: 42px !important;
}

.mat-mdc-form-field-subscript-wrapper {
    height: 21px !important;
}

.mat-mdc-form-field-flex {
    margin-top: -6px !important;
}
.mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-floating-label {
    top: 20px !important;
}

.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    /* font-size: 16px; */
    margin-top: 8px !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-size: 12px;
}

.mat-mdc-select-arrow {
    top: 3px !important;
}
.mat-mdc-option .mdc-list-item__primary-text{
    font-size: 12px !important;
}
.mat-mdc-select-value-text {
    font-size: 12px !important;
}


.setScrollOnContent {
    height: 82.5vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: sticky;
}

.setScrollOnSidebar{
    height: 82.5vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

  .fixArrow{
    position: relative;
    left: -16px;
    top: -3px;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-moz-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #cbc8c8;
    border-radius: 10px;
  }

  ::-webkit-scrollbar:hover{
    width: 8px;
    height: 5px;
  }

  ::-moz-scrollbar :hover{
    width: 8px;
    height: 5px;
  }
  .form_head {
    background-color: #f7a454;
    color: white;
    padding: 8px;
    margin: 0px !important;
    border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;

    h3 {
        margin: 0;
        font-weight: 500;
    }
    .backBtn{
        background: #ebebeb;
        color: #6b8fcb;
        border: none;
        outline: none;
        border-radius: 5px;
        box-shadow: 0 0 3px 2px #9d9d9dbf;
        width: 85px;
        transition: all 0.1s ease-in-out;
      }
      .backBtn:hover{
        background-color: #063178;
        color: white;
      }
      .backBtn:active{
        background: #07409c;
      }
}
  
/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[matinput][type=number] {
  -moz-appearance: textfield;
}

.main_form .mat-mdc-form-field {
    margin-bottom: 15px;
}

.achieveFormArea .mat-mdc-card {
    padding: 25px 20px;
    box-shadow: none;
}
.achieveFormArea {
position: relative;
margin-top: 70px;
}
