.employee_2 {
    color: #063178;
}

.btn_add {

    color: #fff;
    background-color: #063178;
    font-size: 14px;
    border-color: #063178;
    border-radius: 4px;
    border: 1px solid #063178;
    padding: 5px 4px;
}

.icon_img img {
    width: 10px;
    height: 10px;
    margin: 8px;
}

mat-card {
    width: 100%;
    // padding: 20px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 25px #b0bac93d;
    border: 1px solid #2e5bff14;
    border-radius: 5px;
}

.empl_05 {
    background-color: #063178;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub_head p {
    padding-top: 10px;
    margin-left: 25px;
}

.icon_img {
    background-color: #fff;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #9BAAB4;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
}

.head p {
    font-size: 17px;
    color: #063178;
}

.employee_top {
    color: #989aa0;
}

.employee_2 {
    font-size: 16px;
    color: #063178;
}

.example-header select {
    height: 32px;
    color: #ffffff;
    border: none;
    background: #063178;
    border-radius: 5px;
    width: 99px;
}

.employ_sube {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-header span {
    padding: 0px 0px 0px 10px;
    color: #9d9ea0;
}

.employee_2 label {
    padding: 0px 12px;
}

.sub_head {
    width: 100%;
    background-color: #063178;
    color: white;
    font-size: 23px;
    padding: 14px 0px 8px 19px;
    margin: 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.ag-theme-alpine {
    --ag-header-foreground-color: #e2e2e2;
    --ag-header-background-color: #063178;

}

.ag-header-cell-label {
    justify-content: center;
}


.serch_box_set mat-form-field {
    width: 50%;
}

::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: black;
}

// input.mat-input-element {height:105px}
.ag_grid {
    overflow: hidden;
}

#myGrid {
    overflow: hidden;
}

.apply-btn {
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        background: #063178;
        color: #fff;
        margin: 8px 0;
        padding: 4px 16px;
        border-radius: 4px;
        font-weight: 300;
        font-size: 12px;
        margin-bottom: 20px;
        cursor: pointer;
    }
}