.main {
  // width: 1071.4px;

  .main-table {
    border: 1px solid rgb(168, 168, 168);
    border-radius: 4px;
    table {
      width: 100%;
      padding: 32px;

      th {
        font-weight: 900;
        font-size: 11px;
        border-bottom: 1px solid #dadada;
        background-color: rgb(119, 119, 119);
        color: #fff;
        font-weight: 400;
      }
      td {
        font-weight: 900;
        font-size: 14px;
        border: 1px solid #dadada;
        font-weight: 400;
        font-size: 10px;
        a {
          margin: 0 8px 0 0;
          color: #063178;
          cursor: pointer;
        }
      }
    }

    .paddin-box {
      padding: 16px 32px 32px 32px;
    }
  }
}
:host::ng-deep.mat-mdc-paginator-container {
  display: -webkit-inline-box;
}
:host::ng-deep.mat-sort-header-content {
  text-align: initial;
}
:host::ng-deep.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 10px 0 10px;
}
.job-nav {
  padding: 2% 2%;
}
.save-style {
  float: right;
  margin: 0% 5% 4%;
  font-size: 11px;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}
.mainModule {
  width: 100%;
  background: #ebebeb;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  box-shadow: 1px 2px 3px 1px #838383ab;
}

.example-list-section ul {
  list-style-type: none;
  margin-top: 4px;
}
.example-list-section ul li {
  display: inline;
  padding: 0px 30px;
}
:host::ng-deep.label {
  width: 100px;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
img.empty-img {
  width: 100%;
  // height: 100%;
}
.empty-screen {
  padding: 40px 0px;
}
.empty-screen .row p {
  font-size: 16px;
  color: #397bd5;
  font-weight: 500;
  padding: 19px 0px 0px 22px;
  text-align: center;
}
.btns button {
  background-color: #063178;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-bottom: 12px;
}

.parentMenu {
  width: 100%;
  margin: 0 0 0 32px;
}
.childMenu {
  width: 100%;
  margin: 0 0 0 65px;
}

.chiledPart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  overflow: hidden;
}
.m_count{
  position: absolute;
  right: 15px;
  top: 12px;
  background: white;
  display: inline-block;
  aspect-ratio: 1/1;
  width: 20px;
  text-align: center;
  border-radius: 5px;
  line-height: 20px;
  box-shadow: inset 0px 0px 5px 1px #0631788a;
  color: #706967;
  font-size: 8px;
}

.upIcon mat-icon{
  margin-right: 42px;
    margin-top: 12px;
    float: right;
    color: white;
}