<h3 class="popHead">IT Ticketing</h3>
<!-- <mat-dialog-content class="mat-typography"> -->
<div class="mainContainer">
    <div class="cotain">
        <div class="emp_key">
            <p>Ticket No.</p>
            <p>Raised By </p>
            <p>Category</p>
            <p>Stage</p>
        </div>
        <div class="emp_key">
            <p>:</p>
            <p>:</p>
            <p>:</p>
            <p>:</p>
        </div>

        <div class="emp_value">
            <p>{{singleTicket?.itTicketing_number}}</p>
            <p>{{singleTicket?.ticket_raised_by}} </p>
            <p>{{singleTicket?.category}}</p>
            <p>{{singleTicket?.stage}}</p>
        </div>

    </div>
</div>
<div class="close_btn">
    <button (click)="closeDialog()" class="close">Close</button>
</div>
