.edd-del{
    mat-slide-toggle{
        cursor: pointer;
        position: relative;
        margin-top: 6px;
        color: #137806;
    }:nth-child(2){
        margin: 0 16px;
    } 
}

// .edd-del{
//     mat-slide-toggle{
//         cursor: pointer;
//         position: relative;
//         margin-top: 6px;
        
//     }:nth-child(2){
//         margin: 0 16px;
//     } 
// }
 .edd-del mat-slide-toggle{
    position: absolute;
    top: -3px;
    left: 35px;
    color: #137806;
}
.mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #d81b60;
    --mdc-switch-selected-handle-color: #fcfcfc;
    --mdc-switch-selected-hover-state-layer-color: #d81b60;
    --mdc-switch-selected-pressed-state-layer-color: #d81b60;
    --mdc-switch-selected-focus-handle-color: #fcfcfc;
    --mdc-switch-selected-hover-handle-color: #fcfcfc;
    --mdc-switch-selected-pressed-handle-color: #fcfcfc;
    --mdc-switch-selected-focus-track-color:  #137806;
    --mdc-switch-selected-hover-track-color:  #137806;
    --mdc-switch-selected-pressed-track-color:  #137806;
    --mdc-switch-selected-track-color:  #137806;
}