<h3 mat-dialog-title class="popHead">Work Flow Record</h3>
<mat-dialog-content class="mat-typography">
    <div class="cotain">
        <div class="emp_key">
            <p *ngIf="getRecordById?.workflow_type">WorkFlow Type :</p>
            <p *ngIf="getRecordById?.service_category_name">Service Category Name :</p>
            <p *ngIf="getRecordById?.asset_category_name">Asset Category Name :</p>
            <p *ngIf="getRecordById?.department_name">Department :</p>
            <p *ngIf="getRecordById?.service_code">Service Code :</p>
            <ng-container *ngFor="let data of getAllEmployeeDetails">
                <hr />
                <p class="ms-5">User Role : </p>
                <p class="ms-5">Employee Name : </p>
            </ng-container>
        </div>
        <div class="emp_value">
            <p>{{getRecordById?.workflow_type}}</p>
            <p *ngIf="getRecordById?.service_category_name">{{getRecordById?.service_category_name }}</p>
            <p *ngIf="getRecordById?.asset_category_name">{{getRecordById?.asset_category_name}}</p>
            <p>{{getRecordById?.department_name}}</p>
            <p *ngIf="getRecordById?.service_code">{{getRecordById?.service_code}}</p>
            <ng-container *ngFor="let data of getAllEmployeeDetails">
                <hr />
                <p>{{data.user_role}}</p>
                <p>{{data.employeeName}}</p>
            </ng-container>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-raised-button color="primary">Close</button>
</mat-dialog-actions>