<section class="section">

    <div class="row head">
      <p routerLink="../">Employee</p>
    </div>
    
    <div class="row">
      <div class="employee_top my-1">
        Dashboard
        <span class="employee_2"><i class="fa fa-angle-right" aria-hidden="true" style="color: #063178"></i>
          </span>
          <span>Account Payable</span>
      </div>
    </div>
  
    <div class="row">
      <div class="btns">
        <!-- <button routerLink="../" type="button">List</button> -->
      </div>
    </div>
  
    <div fxflex="100%">
      <div class="row">
        <div class="tab_menu">
          <div class="tab-item">
            <button class="main-button"  [routerLink]="['expense-invoice-payble']" color="primary" routerLinkActive="active" (click)="expenseInvoice()">Expense Invoice</button>
            <button class="main-button"  [routerLink]="['vendor-invoice-payble']" color="primary" routerLinkActive="active" (click)="vendorInvoice()">Vendor Invoice</button>
            <button class="main-button" color="primary" [routerLink]="['auditor-invoice-payble']" routerLinkActive="active" (click)="auditorInvoice()">Auditor Invoice</button>
            <button class="main-button" color="primary" [routerLink]="['cp-invoice-payble']" routerLinkActive="active" (click)="cpInvoice()">Cp Invoice</button>
            
          </div>
        </div>
      </div>
    </div>
  <router-outlet></router-outlet>

  </section>
