<div class="heading_top">
  <div class="page-title">
    <h1>CRM</h1>
    <p>Create Proposal <i class="fa fa-angle-right" aria-hidden="true" style="color:#063178">
      </i><span> Create Proposal List </span></p>
  </div>
  <div class="add_button">
    <button class="backBtn" (click)="goBack()"><i class="fa fa-arrow-circle-left"></i> Back</button>
  </div>
</div>

<div class="right_data_all">
  <div class="conatiner">
    <section>
      <form [formGroup]="proposalForm">
        <div *ngIf="!invoiceAddress" class="row mt-4">
          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Proposal Number</mat-label>
                <input matInput type="text" formControlName="proposal_no" readonly="true" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Proposal Type</mat-label>
                <mat-select formControlName="proposal_type" (selectionChange)="handleGstType($event.value)">
                  <mat-option [disabled]="formDisabled" *ngFor="let item of proposalTypeList"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Company Name</mat-label>
                <input matInput type="text" formControlName="company_name" readonly="true" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Contact Person Name</mat-label>
                <input matInput type="text" formControlName="contact_person_name" readonly="true" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input maxlength="10" matInput type="text" formControlName="contact_number"
                  (keypress)="keyPress($event)" readonly="true" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Mail ID</mat-label>
                <input matInput type="email" formControlName="mail_id" readonly="true" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12" *ngIf="isGst">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>GST Number</mat-label>
                <input matInput type="email" formControlName="gst_no" [readonly]="formDisabled" />
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="actionType == 'dealClose'" class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
            <button type="button" mat-raised-button color="primary" (click)="makeInvoice()">Make Invoice</button>
          </div>
        </div>

        <div *ngIf="invoiceAddress" class="row mb-4">
          <div class="col-md-12">
            <div class="form_head">
              <h3> Invoice </h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="invoice_address">
              <h3>Bill To</h3>
              <p>{{leadData?.address}}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="invoice_address">
              <h3>Bill From</h3>
              <p>Company : {{branchObj?.branch_name}}</p>
              <p>Address : {{branchObj?.branch_address}}</p>
              <p>City : {{branchObj?.city_name}}</p>
              <p>State : {{branchObj?.states_name}}</p>
              <p>Pincode : {{branchObj?.branch_pin_code}}</p>
              <p>Contact : {{branchObj?.branch_contact_no}}</p>
            </div>
          </div>
        </div>

        <div class="form_table">
          <mat-card>
            <div class="table-responsive">
              <table>
                <thead>
                  <tr>
                    <th>Service Name</th>
                    <th>Product Varient</th>
                    <th>Product Code</th>
                    <th>Service Description</th>
                    <th>UOM</th>
                    <th>Qty</th>
                    <th>Price Per Unit</th>
                    <th *ngIf="isGst">GST Type</th>
                    <th *ngIf="isGst">CGST</th>
                    <th *ngIf="isGst">SGST</th>
                    <th *ngIf="isGst">IGST</th>
                    <th>Maximum Discount(%)</th>
                    <th>Discount Required</th>
                    <th *ngIf="isDiscountApproved">Discount Approved</th>
                    <th *ngIf="((proposalId && actionType == 'edit') || leadId)">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container formArrayName="productDetailList"
                    *ngFor="let control of CF_1.productDetailList['controls']; let i = index">
                    <tr [formGroup]="control">
                      <td>
                        <mat-form-field appearance="outline">
                          <mat-label>Select Product</mat-label>
                          <mat-select formControlName="product_master_id"
                            (selectionChange)="selectProduct($event.value,i)">
                            <mat-option [disabled]="formDisabled" *ngFor="let item of productList"
                              [value]="item?.id">{{item?.product_name}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field appearance="outline">
                          <mat-label>Select Varient</mat-label>
                          <mat-select formControlName="variant_id"
                            (selectionChange)="generateProductVarient($event.value, i)">
                            <mat-option [disabled]="formDisabled"
                              *ngFor="let item of control?.get('product_varient_list')?.value"
                              [value]="item?.id">{{item?.variant_name}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <input type="text" maxlength="30" formControlName="product_code" class="form-control wth_100"
                          [readonly]="true" />
                      </td>
                      <td>
                        <input type="text" maxlength="200" formControlName="product_description"
                          class="form-control wth_100" [readonly]="true" />
                      </td>
                      <td>
                        <input type="text" maxlength="100" formControlName="uom_name" class="form-control wth_100"
                          [readonly]="true" />
                      </td>
                      <td>
                        <input [readonly]="formDisabled" type="text" maxlength="5" formControlName="qty"
                          class="form-control wth_100" (keypress)="keyPress($event)"
                          (ngModelChange)="productColculation()" />
                      </td>
                      <td>
                        <input [readonly]="control?.get('readonly')?.value || formDisabled" type="text" maxlength="5"
                          formControlName="price_per_unit" class="form-control wth_100"
                          (ngModelChange)="productColculation()" (keypress)="keyPress($event)" />
                      </td>
                      <td style="width: 100px" *ngIf="isGst">
                        <mat-form-field appearance="outline">
                          <mat-label>Select</mat-label>
                          <mat-select formControlName="gst_type" (selectionChange)="selectGstType(i)">
                            <mat-option [disabled]="formDisabled" *ngFor="let item of gstTypeList"
                              [value]="item">{{item}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td *ngIf="isGst">
                        <input [readonly]="formDisabled" *ngIf="control?.get('gst_type')?.value =='CGST/SGST'"
                          type="text" maxlength="30" formControlName="cgst" class="form-control wth_100"
                          (keypress)="keyPress($event)" (ngModelChange)="productColculation()" />
                        <span *ngIf="control?.get('gst_type')?.value !='CGST/SGST'">-</span>
                      </td>
                      <td *ngIf="isGst">
                        <input [readonly]="formDisabled" *ngIf="control?.get('gst_type')?.value =='CGST/SGST'"
                          type="text" maxlength="30" formControlName="sgst" class="form-control wth_100"
                          (keypress)="keyPress($event)" (ngModelChange)="productColculation()" />
                        <span *ngIf="control?.get('gst_type')?.value !='CGST/SGST'">-</span>
                      </td>
                      <td *ngIf="isGst">
                        <input [readonly]="formDisabled" *ngIf="control?.get('gst_type')?.value =='IGST'" type="text"
                          maxlength="30" formControlName="igst" class="form-control wth_100"
                          (keypress)="keyPress($event)" (ngModelChange)="productColculation()" />
                        <span *ngIf="control?.get('gst_type')?.value !='IGST'">-</span>
                      </td>
                      <td class="discount_request">
                        <!-- <span>{{control?.get('maximum_discount')?.value}}</span> -->
                        <input readonly="true" type="text" maxlength="5" formControlName="maximum_discount"
                          class="form-control wth_100" (keypress)="keyPress($event)" />
                      </td>
                      <td>
                        <input [readonly]="!(actionType == 'create' || actionType == 'edit')" type="text" maxlength="5"
                          formControlName="discount_request" class="form-control wth_100" (keypress)="keyPress($event)"
                          (ngModelChange)="productColculation()" (input)="onDiscountRequestInput($event, i)" />
                      </td>
                      <td *ngIf="isDiscountApproved">
                        <input [readonly]="actionType != 'approval'" type="text" maxlength="5"
                          formControlName="discount_approved" class="form-control wth_100" (keypress)="keyPress($event)"
                          (ngModelChange)="productColculation()" />
                      </td>

                      <td *ngIf="((proposalId && actionType == 'edit') || leadId)">
                        <span *ngIf="!control?.controls?.isDisabled"
                          style="color: #063178; cursor: pointer;font-size: 20px;">
                          <i *ngIf="i>0" class="fa fa-trash" (click)="deleteRow(i, control)"
                            aria-hidden="true"></i></span>
                        <span style="color: #063178; cursor: pointer;font-size: 24px;">
                          <i class="fa fa-plus-circle" (click)="addrow()" aria-hidden="true"
                            style="margin-top:5px; margin-left: 10px!important;"></i></span>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div class="upsellBtn" *ngIf="((proposalId && actionType == 'edit') || leadId)">
              <button type="button" (click)="upsellCreate()" mat-raised-button color="primary" class="mx-2">
                Up-Sell
              </button>
            </div>
          </mat-card>
        </div>
        <div class="row upsell_details">
          <div class="col-md-4 offset-8">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Total Coast</mat-label>
                <input matInput type="text" formControlName="total_cost" readonly="true" />
              </mat-form-field>
            </div>
            <div class="arrow_area">
              <mat-icon (click)="dialogOpen()"
                *ngIf="((proposalId && actionType == 'edit') || leadId)">arrow_upward</mat-icon>
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Additional Charges</mat-label>
                  <input [readonly]="formDisabled" matInput type="text" formControlName="additional_charges"
                    (keypress)="keyPress($event)" (ngModelChange)="productColculation()" />
                </mat-form-field>
              </div>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Discount</mat-label>
                <input matInput type="text" formControlName="discount" readonly="true" (keypress)="keyPress($event)" />
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Taxable Value</mat-label>
                <input matInput type="text" formControlName="taxable_value" readonly="true" />
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>SGST</mat-label>
                <input matInput type="text" formControlName="sgst" readonly="true" />
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>CGST</mat-label>
                <input matInput type="text" formControlName="cgst" readonly="true" />
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>IGST</mat-label>
                <input matInput type="text" formControlName="igst" readonly="true" />
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Grand Total</mat-label>
                <input matInput type="text" formControlName="grant_total" readonly="true" />
              </mat-form-field>
            </div>
            <div class="form-group" *ngIf="actionType == 'dealClose'">
              <mat-form-field appearance="outline">
                <mat-label>Total Received</mat-label>
                <input matInput type="text" formControlName="total_received" readonly="true" />
              </mat-form-field>
            </div>
            <div class="mt-4 mb-4" *ngIf="((proposalId && actionType == 'edit') || leadId)">
              <button (click)="createProposal()" mat-raised-button color="primary">
                Send Proposal
              </button>
              <button mat-raised-button color="warn" (click)="goBack()" class="mx-3">
                Cancel
              </button>
            </div>
          </div>
        </div>
        <div class="row my-4" *ngIf="proposalId && actionType == 'approval' && status == 'pending'">
          <div class="col-md-4">
            <p class="text_right">Remark</p>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <textarea matInput type="text" formControlName="approvalRemark"></textarea>
              </mat-form-field>
            </div>
            <div class="text_right">
              <button type="button" mat-raised-button color="primary" (click)="updateProposalStatus('AP')">
                Approve
              </button>
              <button type="button" mat-raised-button color="warn" class="mx-3" (click)="updateProposalStatus('RJ')">
                Reject
              </button>
            </div>
          </div>
        </div>
        <div class="row my-4" *ngIf="invoiceAddress">
          <div class="col-md-12">
            <div class="form-group">
              <p>Remark</p>
              <mat-form-field appearance="outline">
                <textarea matInput type="text" formControlName="invoice_remark"></textarea>
              </mat-form-field>
            </div>
            <div class="text_right">
              <button type="button" mat-raised-button color="primary" (click)="saveInvoice()">
                Save Invoice
              </button>
              <button type="button" mat-raised-button color="warn" class="mx-3" (click)="backFromViewInvoice()">
                Back
              </button>
            </div>
          </div>
        </div>
      </form>

      <form [formGroup]="invoiceAddressForm">
        <div *ngIf="showInvoice">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Select Bill From</mat-label>
                <mat-select formControlName="branch_id">
                  <mat-option *ngFor="let item of branchList" [value]="item?.id">{{item?.branch_name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-checkbox [(ngModel)]="defferentAddress" class="example-margin" [checked]="defferentAddress"
                (change)="defferentAddressChange()">
                Update Different Address
              </mat-checkbox>
            </div>
          </div>
          <div class="row" *ngIf="defferentAddress">
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Company Name</mat-label>
                  <input matInput type="text" formControlName="company_name" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>GST No.</mat-label>
                  <input matInput type="text" formControlName="gst_no" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Complete Address</mat-label>
                  <input matInput type="text" formControlName="complete_address" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="text_right">
              <button mat-raised-button color="primary" (click)="viewInvoice()">
                View Invoice
              </button>
              <button type="button" mat-raised-button color="warn" class="mx-3" (click)="backInvoice()">
                Back
              </button>
            </div>
          </div>
        </div>
      </form>

    </section>

    <app-payment-proposal *ngIf="!showInvoice && actionType" [isInvoiceSubmitted]="isInvoiceSubmitted"
      [grandTotal]="getData?.grant_total" (setReceivedAmount)="setReceivedAmount($event)"></app-payment-proposal>

  </div>
</div>