<div class="heading_top">
  <div class="page-title">
    <h1>HRMS</h1>
    <p>Change Password <i class="fa fa-angle-right" aria-hidden="true" style="color:#063178">
      </i><span> Change Password </span></p>
  </div>
  <div class="add_button">
    <button class="backBtn" (click)="goBack()"><i class="fa fa-arrow-circle-left"></i> Back</button>
  </div>
</div>

<div class="right_data_all">
  <div class="conatiner">
    <section>
      <form autocomplete="off" (ngSubmit)="requiredForm.form.valid && saveRecord();" #requiredForm="ngForm" novalidate>
        <div class="row mt-5">
          <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Old Password</mat-label>
                <input matInput type="text" [(ngModel)]="formData.oldPassword" name="oldPassword" #oldPassword="ngModel"
                  minlength="4" maxlength="16" required />
                <div *ngIf="oldPassword.touched || (requiredForm.submitted && oldPassword.invalid)">
                  <div *ngIf="oldPassword.errors?.['required']" class="invalid-msg">
                    Old Password is required
                  </div>
                </div>
              </mat-form-field>
            </div>
          </div>
          <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput type="text" [(ngModel)]="formData.newPassword" name="newPassword" #newPassword="ngModel"
                  minlength="4" maxlength="16" required />
                <div *ngIf="newPassword.touched || (requiredForm.submitted && newPassword.invalid)">
                  <div *ngIf="newPassword.errors?.['required']" class="invalid-msg">
                    New Password is required
                  </div>
                </div>
              </mat-form-field>
            </div>
          </div>
          <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="text" [(ngModel)]="formData.confirmPassword" name="confirmPassword"
                  #confirmPassword="ngModel" minlength="4" maxlength="16" required />
                <div *ngIf="confirmPassword.touched || (requiredForm.submitted && confirmPassword.invalid)">
                  <div *ngIf="confirmPassword.errors?.['required']" class="invalid-msg">
                    New Password is required
                  </div>
                </div>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="text_right mt-4">
          <button type="submit" mat-raised-button color="primary">
            Submit
          </button>
          <button type="button" mat-raised-button color="warn" class="mx-3">
            Back
          </button>
        </div>
      </form>
    </section>
  </div>
</div>