<div class="section" *ngIf="!printsend">
    <!-- <div class="row head">
      <p>Author Management</p>
    </div> -->
    <div class="row py-1">
      <div class="employee_top">Department-Wise Budget
        <span class="employee_2"><i class="fa fa-angle-right" aria-hidden="true" style="color:#063178">
          </i>
          Budget List</span>
      </div>
    </div>
    <div class="employ_sube">
      <div class="">
        <!-- <div class="add_btn">
          <button type="button" class="btn_add" routerLink="schedule-create">Create New Course</button>
        </div> -->
        <!-- <button (click)="print()">print</button> -->
      </div>
 
    </div>
  
    
    <div class="employ_sube py-2">
      <div class="">
        <div class="example-header">
          <select (change)="onPageSizeChanged()" id="page-size">
            <option value="10" selected="">10</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
        </div>
      </div>
      <div class="">
        <div class="employee_2" align="end">
  
            <input type="text" class="form-control" id="filter-text-box" placeholder="Search" (input)="onFilterTextBoxChanged()">
  
        </div>
      </div>
    </div>
  
  
  
    <div class="row form_head">
      <h3>Budget List</h3>
    </div>
    
      <div class="ag_grid">
        <ag-grid-angular class="ag-theme-alpine" style=" width:100%; height:400px;"
          [columnDefs]="columnDefs" [pagination]=true [paginationPageSize]=10 [rowData]="rowData"
          (gridReady)="onGridReady($event)" (cellClicked)='onCellClicked($event)' [rowClass]="rowClass">
        </ag-grid-angular>
      </div>
   

  </div>

  <!-- <div *ngIf="printsend">
    <app-dummay-view></app-dummay-view>
  </div> -->
  <!-- (cellClicked)='onCellClicked($event)' -->