.edd-del {
    mat-icon {
        cursor: pointer;
        position: relative;
        margin-top: 6px;
        color: #d68910;;
    }

    // :nth-child(2) {
    //     margin: 0 16px;
    // }

    // mat-icon {
    //     cursor: pointer;
    //     position: relative;
    //     margin-top: 6px;
    //     color: #063178;
    // }

    // :nth-child(4) {
    //     margin: 0 16px;
    // }
}

.mr_10 {
    margin-right: 10px;
}

.openBtn {
    background: #081789 !important;
    border:1px solid #fff !important;
    color: #fff !important;
    margin-top: -16px;
    height: 25px;
    border-radius: 25px;
    box-shadow: none;
}