<section class="section">
    <div fxflex="100%">
      <div class="row">
        <div class="tab_menu">
          <div class="tab-item">
            <button class="main-button" color="primary"  [routerLink]="['employee-details-form']" routerLinkActive="active" (click)="goToBasicDetails('BASIC DETAILS')" >EMPLOYEE DETAILS</button>
            <button class="main-button" color="primary" [routerLink]="['personal-details-form']" routerLinkActive="active" (click)="goToPersonalDetails('PERSONAL DETAILS')">PERSONAL DETAILS</button>
            <button class="main-button" color="primary" [routerLink]="['previous-details-form']"  routerLinkActive="active"   (click)="goToSalaryDetails('SALARY DETAILS')" >PREVIOUS EMP. DETAILS</button>
            <button class="main-button" color="primary" [routerLink]="['payment-details-form']"  routerLinkActive="active"  (click)="goToPaymentDetails('PAYMENT DETAILS')" >PAYMENT DETAILS</button>
            <button class="main-button" color="primary" [routerLink]="['document-details-form']" routerLinkActive="active"  (click)="goToDocumentDetails('DOCUMENT DETAILS')">DOCUMENT DETAILS</button>

          </div>
        </div>
      </div>
    </div>

    
    <router-outlet></router-outlet>
  </section>