<div class="edd-del">
    <!-- <mat-icon (click)="edit($event)">edit</mat-icon> -->
    <!-- <mat-icon (click)="delete($event)">delete</mat-icon> -->
    <mat-icon style="margin: 0 8px 0 0;" *ngIf="vendorInvoiceId" (click)="vendorPdf()">get_app</mat-icon>
    <mat-icon *ngIf="vendorInvoiceId" (click)="viewVendorInvoice()">visibility</mat-icon>
    <!-- <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="warn">Warn</button> -->
    <mat-icon *ngIf="myExpenseId" (click)="viewExpenseInvoice()"  >visibility</mat-icon>
    <button *ngIf="myExpenseId && !expenseSubmit" type="button" (click)="myExpensSubmit()" class="btn_add">Submit</button>
    <button *ngIf=" vendorInvoiceList" type="button" (click)="myVenderSubmit()" class="btn_add">Submit ven</button>
    <button  *ngIf="leadIdCreate" type="button" (click)="submitAudit()" class="btn_add">Submit audit</button>
    <!-- <mat-icon matTooltip="Validate" style="margin: 0 8px 0 0;" *ngIf="cpCreateOpen" (click)="cpCreate()">get_app</mat-icon> -->


    <button  *ngIf="cpCreateOpen" type="button" (click)="cpCreate()" class="btn_add">Submit</button>
    <mat-icon *ngIf="cpCreateOpen" (click)="viewcPInvoice()"  >visibility</mat-icon>
    <button  *ngIf="expenseZohoId" type="button" (click)="expenseInvoice()" class="btn_add">Invoice Ex</button>
    <button  *ngIf="vendorSubmit" type="button" (click)="vendorInvoice()" class="btn_add">Invoice ven</button>
    <button  *ngIf="cpInvoicePayble" type="button" (click)="cpInvoice()" class="btn_add">Invoice cp</button>
    
</div>

