<div class="edd-del">
    <mat-icon matTooltip="View" *ngIf="assignAction?.Read" matTooltipPosition="above"
        matTooltipHideDelay="100" (click)="openDialog()">visibility</mat-icon>
    <mat-icon matTooltip="Edit" *ngIf="assignAction?.Write" matTooltipPosition="above" matTooltipHideDelay="100"
        (click)="editData($event)">edit</mat-icon>
    <mat-icon matTooltip="Delete" *ngIf="assignAction?.Delete" matTooltipPosition="above" matTooltipHideDelay="100"
        (click)="Delete($event)">delete</mat-icon>
</div>