.employee_2 {
    font-size: 16px;
    color: #063178;
}

.employ_sube {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 4px 0;

}


.service-container {
    margin: 0 auto;
    // background: beige;
    margin: 16px;
    .name {
        background: #063178;
        color: #fff;
        text-align: center;
        padding: 8px 5px;
        border-radius: 4px;
        height: 38px;
     
    }
    .bottam_btn{
        display: flex;
        text-align: center;
        border-color: gray;
    }

    .name1 {
        background: #2c803e;
        color: #fff;
        text-align: center;
        padding: 8px 5px;
        border-radius: 4px;
        cursor: pointer;
    }

    .name2 {
        background: #d12222;
        color: #fff;
        text-align: center;
        padding: 8px 5px;
        border-radius: 4px;
        cursor: pointer;
    }
    .service-box {

        align-items: center;
        padding: 16px;
    }
}

// .row {
//     padding: 10px;
// }

.center {
    margin: 10px;


}

.img {
    margin: 0 auto;
    width: 120px;
    height: 120px;

    img {
        width: 100%;
    }
}

.verify {
    background: green !important;
    color: #fff !important;
    width: 45%;
    font-size: 10px;
}

.not-verify {
    color: #fff !important;
    background: #bd1818 !important;
    width: 45%;
    margin-left: 10px;
    font-size: 10px;
}

input[type="file"] {
    border: 1px solid #212a5e87;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    color: rgba(89, 78, 95, 0.6);
    width: 100%;
}

button.iploadBtn {
    float: right;
    margin: 2% 5%;
    color: #fff;
    background: #212a5e;
    border-radius: 5px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: "Upload";
    display: inline-block;
    background: #ddd;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 500;
    font-size: 9pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.errorMsg {
    font-size: 0.8rem;
    padding: 5px 10px;
}

i.fa.fa-plus-circle {
    font-size: 22px;
    margin: 10px -10px;
}

.verify:disabled {
    background: gray !important;
}

.not-verify:disabled {
    background: gray !important;
}

.bottam {
    display: flex;
    margin: 0% auto;
}

.btn {
    background-color: #063178;
    color: #ddd;
    padding: 3px;
}

// .btns {
//     background-color: #063178;
//     border-radius: 3px;
//     color: #ddd;
//     justify-content: center;
//     margin: 0px 10px;
//     width: 220px;
//     height: 40px;
// }

.formPage {
    margin: 5% 20%;
}

.inner{
  background-color: gray;
  margin: 0px 25%;
}

.formPage input {
    height: 40px;
    width: 220px;
    margin: 0px 10px;
}

    .centers{
        margin: auto;
        width: 50%;
        padding: 10px;
  
      }
      #saveBtn{
        background-color: rgb(59, 145, 59);
      }
      #cancelBtn{
        background-color: rgb(207, 46, 46);
      }
      .form-group{
        display: flex;
      }
      #save{
        background-color: #34bb51;

      }
      .message{
        color: red;
      }
      input.ng-invalid.ng-touched{
        border-color: rgb(241, 133, 133);
        overflow: auto;
      }
      .center{
        background-color: whi;
        border: 1px solid rgb(170, 161, 161);
        border-radius: 5px;
      }
      label{
     font-weight: 500;
        color: black;
      }

      div .btn1{
        background-color: #207806;
        font-weight: 400;
        padding: 0px 35px
    }
    
    div .btn2{
        background-color: #a70818;;
        font-weight: 400;
        padding: 0px 28px
    }
    .btn_employ{
        padding: 20px;
    }
    .employee_top {
        color: #989aa0;
        cursor: pointer;
    }
    .employee_2 {
        font-size: 16px;
        color: #063178;
    }
    .btns button{
        background-color: #063178;
        color: white;
        border: none;
        padding: 5px 12px;
        border-radius: 5px;
        width: 71px;
        height: 28px;
        letter-spacing: 1px;
    }
    .btns{
        padding: 10px;
    }
    .form-group .selctedImg {
        position: absolute;
    left: 29%;
        height: 31px;
        width: 32px;
        // top: 21.5%;
        // left: 81.5%;
        filter: drop-shadow(0px 0px 1px #000);
        border-radius: 5px !important;
        cursor: pointer;
    }
    
input[type=file]{
    // padding-right: 38px;
    border: 1px solid #909091;
    width: 100%;
    border-radius: 6px;
    height: 100%;
}

input[type=file]::file-selector-button {
    border: none;
    background: #e9ecef;
    padding: 9px 5px;
    border-radius: 5px 0px 0px 5px;
    color: #212529;
    cursor: pointer;
    transition: background .01s ease-in-out;
    font-size: 14px;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #ced4da !important;
  }
  .card {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .card-heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
  }
  
  .sub-line {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .col-4 {
    width: 100%;
  }
  .slow-motion {
    animation-name: slowMotion;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .ll{
    font-size: 12px;
    color: gray;
}
  
  @keyframes slowMotion {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }}


  
  
  
  