<section>
  <div class="conatiner">
    <mat-card>
      <div class="form_head">
        <h3>PAYMENT DETAILS</h3>
        <button class="backBtn" routerLink="../../"><i class="fa fa-arrow-circle-left"></i> Back</button>
      </div>

      <div class="form_basic">
        <form class="form_set" [formGroup]="paymentForm">
          <div class="row">
            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Bank Name</mat-label>
                  <mat-select formControlName="bank_name">
                    <mat-option
                      *ngFor="let bank of allBanks"
                      [value]="bank.bank_id"
                      >{{ bank.bank_name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Employee Name in Bank</mat-label>
                  <input
                    matInput
                    type="text"
                    maxlength="30"
                    formControlName="emp_name_in_bank"
                    [value]="
                      paymentForm.controls['emp_name_in_bank'].value | titlecase
                    "
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Bank Address</mat-label>
                  <input
                    matInput
                    type="text"
                    maxlength="50"
                    maxlength="50"
                    formControlName="branch_address"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Account No</mat-label>
                  <input
                    matInput
                    type="number"
                    maxlength="20"
                   min="1"
                    formControlName="account_number"
                  />

                  <!-- <mat-error
                    *ngIf="
                      paymentForm.controls['account_number'].hasError(
                        'required'
                      )
                    "
                  >
                    This field is Required!
                  </mat-error> -->
                </mat-form-field>
              </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Re-enter Account No</mat-label>
                  <input
                    matInput
                    type="number"
                    min="1"
                    maxlength="30"
                    formControlName="reEnterName"
                  />
                  <!-- <mat-error
                    *ngIf="
                      paymentForm.controls['reEnterName'].hasError('required')
                    "
                  >
                    This field is Required!
                  </mat-error>
                  <mat-error
                    *ngIf="
                      paymentForm.controls['reEnterName'].hasError('mustMatch')
                    "
                  >
                    Account Number not match!
                  </mat-error> -->
                </mat-form-field>
              </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>IFSC Code</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="ifsc_code"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>PF Account No.</mat-label>
                  <input
                    matInput
                    type="text"
                    maxlength="22"
                    formControlName="pf_number"
                   
                  />
                 </mat-form-field>
                <mat-error
                      *ngIf="paymentForm.controls['pf_number'].hasError('pattern')"
                    > PF Number is invalid..
                    </mat-error>
              </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>UAN Account</mat-label>
                  <input
                    matInput
                    type="text"
                    maxlength="12"
                    formControlName="uan_number"
                  />
                 
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <button
            *ngIf="paymentForm.disable"
              mat-raised-button
              color="primary"
              class="mx-3"papp-document-details
              (click)="onCreate()"
            >
           Save & Next
            </button>
            <button mat-raised-button color="warn"  (click)="Skip()">
              Skip
            </button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</section>
