.edd-del{
    mat-icon{
        cursor: pointer;
        position: relative;
        margin-top: 6px;
        color: #063178;
    }:nth-child(2){
        margin: 0 15px;
    } :nth-child(4){
        margin: 0 15px;
    } 
    :nth-child(6){
        margin: 0 15px;
    } 
    
}

.readonly-wrapper{
    pointer-events: none;
    color: #6b778a;
}
