<div class="row">
  
  <ng-container *ngFor="let module of subModules">
    <div class="service-box">
      <div class="service-img" [routerLink]="module.menuLink" (click)="goInToPage(module)">
        <img [src]="module.menuIcon" alt="" />
      </div>
      <div class="card-title">
        <p>{{module.menuName}}</p>
      </div>
    </div>
  </ng-container>

    <!-- <div class="service-box" routerLink="email-creation-list">
      <div class="service-img" >
        <img src="assets//icons/icon_DQS/gmail.png" alt="" />
      </div>
      <div class="card-title">
        <p>E-mail List</p>
      </div>
    </div>
    <div class="service-box" routerLink="product-asset-master">
      <div class="service-img" >
        <img src="assets//icons/icon_DQS/secure.png" alt="" />
      </div>
      <div class="card-title">
        <p>Product/Asset Master
        </p>
      </div>
    </div> -->


    <!-- <div class="service-box" routerLink="approve-expense">
      <div class="service-img" >
        <img src="assets//icons/icon_DQS/appp.png" alt="" />
      </div>
      <div class="card-title">
        <p>Approve Expense</p>
      </div>
    </div>
    <div class="service-box" routerLink="make-payment">
      <div class="service-img" >
        <img src="assets//icons/icon_DQS/coin.png" alt="" />
      </div>
      <div class="card-title">
        <p>Make Payment</p>
      </div>
    </div>
    <div class="service-box" routerLink="paid-expense">
      <div class="service-img" >
        <img src="assets//icons/icon_DQS/paid.png" alt="" />
      </div>
      <div class="card-title">
        <p>Paid Expense</p>
      </div>
    </div> -->

  </div>
